[2018-09-11 21:27] focusaurus opened #7 "make destroy cannot delete files owned by root"
If you run `make destroy` there are some files created inside a container that are owned by root and cannot be deleted by a normal user in the host OS.

[code]

The cleanest solution I think would be running as the same uid in the container as is being used in the host OS. I have done this in some dockerfiles and it seems to work OK but can be tricky to properly support all host OS platforms. Here

[2018-09-17 21:01] aldeed opened #9 "Idea: Add checkout command"
There could be a simple file mapping one "platform" version to git tags for each repo. For example, `make checkout 2.0` might git checkout `2.0` tag of Reaction repo, `1.0` tag of starter kit, and `1.0` tag of hydra. Otherwise it gets tricky making sure you have all of your service versions aligned before you `make start`.

[2018-09-17 21:01] aldeed commented on #9
cc @ticean

[2018-09-17 22:10] aldeed opened #10 "Need a way to make a single service"
A couple times the `make` command failed during the `reaction` stuff due to Docker issues. I'm now only missing the starter kit, but the only way to get it is to rerun entire `make`, which takes forever and does stuff I don't need done again. The workaround is to remove some services from the list in the `Makefile`, but we should provide a simple way to do this.

This will also come up when updati

[2018-09-17 22:15] aldeed commented on #10
cc @ticean

[2018-09-17 22:51] machikoyasuda opened #11 "📋 Open source checklist"
In order to prep this repository for open source use and consumption, we need to complete this checklist:

- [x] Add .github directory with pull request template, issue template(s) (1 template for bugs, 1 template for features)
- [x] Add Reaction's standard LICENSE.md
- [x] Add Reaction's standard CODE_OF_CONDUCT.md
- [x] Add Reaction's standard CONTRIBUTING.md

## README checklist
- [x] Add a scr

[2018-09-18 00:30] aldeed commented on #9
A related issue is that `make` doesn't prompt you for which branch of each repo to check out. It just starts cloning and building, which is a waste of time of you're going to have to stop the service, checkout a different release, and rebuild it after it's done.

[2018-09-19 04:18] ticean commented on #10
It's [already supported](https://github.com/reactioncommerce/reaction-platform/commit/1c601cfd29b1278315fb986014b2655fd658274d).

[2018-09-19 16:41] aldeed commented on #10
If it's not in the docs then it doesn't exist. 😄

[2018-09-19 23:32] aldeed commented on #10
I added it to the readme now

[2018-09-19 23:32] #10 closed

[2018-09-19 23:32] #11 closed

[2018-09-28 11:53] janus-reith opened #13 "Fails at "Creating development OAuth clients for reaction-hydra""
## Issue Description
I cloned reaction-platform and ran the makefile as described.
The process gets stuck while creating the hydra client with:

## Steps to Reproduce
Please provide starting context, i.e. logged in as a user, configure a particular payment method.
1. Clone the Repo
2. Run make
3. Oberserve that it fails at the described point.

## Possible Solution
Is additional docker configurati

[2018-09-28 17:55] ticean commented on #13
Hi @janus-reith, thanks for reporting the issue. Could you run a few commands and paste results to provide more information your system status?

1. `docker network ls` - List your Docker networks. Just checking that all the networks are there, though I don't think you would have made it this far without them. (You can remove output that's not `*.reaction.localhost` if you'd like.)
2. `docker ps -a

[2018-10-01 09:48] janus-reith commented on #13
Thanks for the detailed response!

`docker network ls` (I removed some in that list that are not relevant to the project):
[code]

`docker ps -a | grep reaction`
[code]

`docker logs reaction-hydra_hydra_1`

This repeats several times without succesful connect - I'm wondering if this could be related to my firewall configuration(running on Arch with firewalld) If that's the case then this would pr

[2018-10-01 14:22] KostaStolbunsky opened #14 "reaction_reaction_1 container exits after a few seconds"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
I cloned reaction-platform and ran the makefile as described.
All the networks and services have been created and started successfully. B

[2018-10-01 18:44] ticean commented on #13
This could be the case. @janus-reith could you try temporarily modifying your firewall rules to see if it resolves?

We have a few folks running on Linux but we're generally running on OSX and using Docker for Mac. I'm personally on a Mac. In Docker for Mac, internal networks are running inside an isolated Docker host and unaffected by Mac host level networking rules. I could see this being differ

[2018-10-02 01:43] ticean commented on #14
Hi @KostaStolbunsky. Thanks for the report. The last line shows the problem:

`Error creating Reaction config file: /opt/reaction/src/.reaction/config.json`

That would be thrown by the [`reaction-cli`](https://github.com/reactioncommerce/reaction-cli/blob/v0.29.0/src/utils/config.js#L39-L102) that's used in the `reaction` project if there's an error writing a config file. This is a peculiar place

[2018-10-02 02:14] ticean commented on #13
After another read, it does look like some kind of networking issue. The logs show an issue between the `hydra` and `postgres` services. That's straighforward Docker Compose networking and I would expect no problems there at all. You can see that the Hydra service is retrying to connect to Postgres.

Let me know if you can get it working and we can add notes to the troubleshooting guide.

---

I'v

[2018-10-02 17:56] ticean commented on #14
@KostaStolbunsky oh ok, it sounds like you were running a Docker host remotely on DigitalOcean? It's still interesting that you would have a file issue like this. I'm glad that you got things working with a manual `docker cp`.

If you have insight on the DigitalOcean configuration that might have caused the issue then I'd love to hear. I think running in a remote context like this is a very intere

[2018-10-03 10:33] KostaStolbunsky commented on #14
@ticean yes, I tried multiple times to install the platform on my Windows machine and in Virtualbox for Windows - no avail. That's the reason I'm using remote host as my Docker machine.

Anyway, I tried to deploy the platform one more time on DO droplet. This time I configured user to be able to run docker without sudo, set user's SSH key on Github, checked carefully permissions and ran make comma

[2018-10-04 11:01] janus-reith commented on #13
Okay, closing this as it was related to firewalld.
I thought I opened up the necessary ports there, and need to investigate further, but stopping it made this work.

[2018-10-04 11:01] #13 closed

[2018-10-04 11:53] janus-reith opened #16 "reaction_mongo-init-replica_1 fails to connect"
## Issue Description
After running make from the clean reaction-platform folder, the created containers `reaction_reaction_1`, `reaction_mongo-init-replica_1` and `reaction-hydra_hydra-migrate_1` show as exited.

The reaction container fails, as it can't connect to the replica set:
`docker logs -f reaction_reaction_1`

The replica set fails to  connect to the main mongo container:
`docker logs -f

[2018-10-04 15:16] focusaurus commented on #13
@janus-reith thanks for this follow up. I'll add this to the common issues document so others might find a solution there.

[2018-10-04 20:10] spencern commented on #16
Thanks for the report @janus-reith

[2018-10-04 21:05] ticean commented on #9
Some thoughts on how this could work:

The Makefile currently defines [an array of projects](https://github.com/reactioncommerce/reaction-platform/blob/3d5cd46a4b187fe2d3f9aaa1d51df5684c17bec7/Makefile#L26-L32). Most of the targets are created by some metaprogramming that iterate over the list. There are some global assumptions currently made in the file that need to be addressed.

1. That all pro

[2018-10-05 15:26] focusaurus opened #18 "Remove node and yarn as prerequisites"
The README lists `node` and `yarn` as prerequisites, but I'm not sure we ever actually use them directly in the host OS. I think it's possible to just have docker handle  everything. I am able to run a full reaction 2.0 stack without having them installed in the host OS. Now there could be supporting scripts we sometimes run that need them in one of the repos, but maybe not?

[2018-10-05 17:47] focusaurus commented on #18
I guess we should also document `make` as a prerequisite while we're at it.

[2018-10-05 17:50] focusaurus commented on #9
So one thing I figured out as a note to self is we could in theory have one variable be a list of repo URLs and parse out the repo directory names as another variable like this:

[code]

That does seem to work BUT it uses unix stuff so is that a dealbreaker for windows installs?

[2018-10-05 18:57] aldeed commented on #18
We should recommend to `yarn install --dev` on the host machine in order for IDE eslint highlighting and such to work properly. Not sure if Yarn can be installed without Node.

Agree it should list `make`

[2018-10-05 18:58] aldeed commented on #18
Technically that recommendation would be per-project; some projects might not even use Yarn or Node. Not sure whether that means it should be listed here or not. It's not a dependency of _this_ project

[2018-10-05 19:05] aldeed commented on #9
Make doesn't work on Windows anyway, does it?

@ticean I like your solution, and it should be keyed by version as well, i.e., platform version X = these 5 repos w/ checkout tags. In my perfect world, this would be defined in a separate file, ideally JSON or YAML. Not sure how easy it is to parse those in Make.

And on the subject of Make... I still think it would be better to find a different task

[2018-10-05 22:19] focusaurus commented on #9
OK I have a WIP pull request for adding checkout capabilities and a very simple manifest without much new code. Apologies about how inscrutable the make metaprogramming and escaping makes things, but I think it does what's necessary here.

More broadly we should figure out our Windows story. As it is it's using GNU make which I believe doesn't directly work on Windows but there seem to be some cyg

[2018-10-08 23:37] focusaurus commented on #9
@aldeed revisiting your initial description of this feature, I guess we could add a data file for that. If we could use `jq` the data munging would be a lot less fidgety. Maybe JSON files like `releases/2.0.json`

[code]

[2018-10-08 23:40] focusaurus commented on #9
Note to self: `jq -r ".\"2.0\".subProjects[].gitUrl" < releases.json`

[2018-10-09 15:13] focusaurus commented on #9
OK to keep scope well-tracked, I'm going to file a separate issue to discuss the toolchain choice. Let's keep this issue about a checkout command specifically. We may decide not to implement on top of the existing toolchain and Makefile.

[2018-10-09 15:26] focusaurus opened #21 "Clarify platform support and toolchain requirements"
Currently we are using GNU make for our task runner in this project. I'd like to clarify what level of support we have for development on Windows, and taking that answer into account, consider whether we should switch to a different toolchain (perhaps something node-based). @roidrage would you like to chime in here?

[2018-10-09 19:16] neerajm20 commented on #16
I am having the same issue and 'docker start reaction_mongo-init-replica_1' is not enough. When I log into mongo, there is no reaction database. What would be a workaround to get the system up and running?

[2018-10-10 19:54] ticean commented on #16
Thanks @janus-reith. The problem is in the reaction project. The `mongo-init-replica` is launched in parallel with the `mongo` service by Docker Compose. Technically, there's a dependency defined in Compose,  but Compose makes no guarantee that `mongo` is ready at the time that `mongo-init-replica` is started. It results in a race condition.

The proper way to get around this is to get rid of the

[2018-10-12 19:44] #9 closed

[2018-10-18 04:43] spencern commented on #16
This should be resolved by #4745

[2018-10-18 04:43] #16 closed

[2018-10-22 17:16] ticean opened #24 "Pluggable Validation Hook for System Check"
## Problem Overview
The Reaction Platform project loosely binds together several projects in development that run in coordination as a complete system. By nature a distributed system is complicated and troubleshooting is more difficult than a monolith. This proposed improvement will provide tooling to understand the state of the system and identify issues that might prevent successful startup.

##

[2018-10-27 01:51] james-bucci commented on #14
@ticean  I'm having the same problem as @KostaStolbunsky.

Error creating Reaction config file: /opt/reaction/src/.reaction/config.json

I ran the test you suggested (cd reaction && docker-compose run --rm reaction sh -c 'echo "user: $(whoami)\nhostname: $HOSTNAME" > .reaction/testfile') and verified it does not have the correct permissions.

I'm not a Linux expert; can you please let me know how

[2018-11-05 15:59] datamaker commented on #14
I am having the same problem.

[code]

[2018-11-11 19:38] chikondot commented on #14
@james-bucci @ticean
I'm also having the exact same issue. was any solution found to the permissions issue?

Feedback would be much appreciated.

[2018-11-14 03:43] austinfrey opened #26 "Makefile:88: *** missing separator. Stop."
Are you looking for help with getting started on Reaction? Please visit our [Reaction documentation](https://docs.reactioncommerce.com/reaction-docs/master/getting-started-developing-with-reaction).

## Prerequisites
* [x ] Are you running the latest version?
* [x ] Are you able to consistently reproduce the issue?
* [x ] Did you search the issue queue for existing issue? [Search issues](https://g

[2018-11-14 16:30] dhcrzf commented on #26
I encountered the same problem.

[2018-11-14 16:37] focusaurus commented on #26
I think there's a syntax error in `config.mk`. Should have a PR shortly.

[2018-11-14 17:16] #26 closed

[2018-11-14 18:14] austinfrey commented on #26
@focusaurus that did the trick for me. thanks for the quick response

[2018-11-15 07:07] dhcrzf commented on #14
Encountered this with a fresh install of ubuntu 18.04.1. The non-root user that was created during the ubuntu installation was able to run all of the reaction-platform services, but a second user following the same steps received the error -

`Error creating Reaction config file: /opt/reaction/src/.reaction/config.json`

Followed by the reaction_reaction_1 container shutting down. Both users are m

[2018-11-16 01:17] zenweasel opened #29 "Meteor and Starter kit reloads are very slow or don't happen at all"
Also, Docker can consume most/all of system resources causing the host machine to become unusable. The consensus so far seems to be that the root cause is filesharing between Docker and OSX when using file watchers.

Some research done by @spencern

If you look at the stats when running reaction-platform `docker stats` you’ll notice that the CPU utilization of any particular docker container isn’t

[2018-11-17 20:04] simplecommerce commented on #14
I have the same issue, tried uninstalling docker, docker-compose and ran the test mentioned above and do not have permission.

Also noticed that /opt/reaction path doesn't exist at all.

Any luck?

[2018-11-19 20:59] james-bucci commented on #14
@ticean Hello Ticean, a few of us ( @simplecommerce @dhcrzf @chikondot) seem to be blocked by the same issue. Can you please help us resolve the config.json error?

[2018-11-26 21:15] carlosbaraza commented on #29
Yes, developing under Docker seems to be impossible at the moment.

[2018-11-26 23:01] spencern commented on #29
Hi @carlosbaraza
Try applying the attached patch to your version of Reaction.
[meteor-polling-interval.patch.zip](https://github.com/reactioncommerce/reaction-platform/files/2617605/meteor-polling-interval.patch.zip)

It adds the following line to the `reaction` docker compose file
[code]

If you've installed via `reaction-platform` using `make` this will need to be applied inside the `/reaction`

[2018-12-04 16:04] alabrazi opened #30 ""Make start" is not starting containers"
## Prerequisites
* [yes ] Are you running the latest version?
* [yes ] Are you able to consistently reproduce the issue?
* [yes ] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
In installation steps it is said to run all the container type : make start
after typing this I got the following:
![dec-04-2018

[2018-12-04 18:47] nnnnat commented on #30
@alabrazi can you `cd` into one of the project directories and verify the containers are not running?
`cd reaction && docker-compose ps` if the Reaction container is running you should be able to check the docker logs to see where Reaction is in its startup process (`docker-compose logs -f reaction). Reaction can be slow to start sometimes and the other services are dependant on it. Looking at the

[2018-12-04 20:24] alabrazi commented on #30
@nnnnat seems all containers are running with ip:0.0.0.0. For example reaction on http://0.0.0.0:3000. Is there a way to change it to 127.0.0.1?

[2018-12-15 06:59] AaronZhangL opened #31 "fsevents@1.2.4 error"
[xxxx@localhost reaction-platform]$ cat /etc/redhat-release
Fedora release 28 (Twenty Eight)
[xxxx@localhost reaction-platform]$ uname -r
4.16.3-301.fc28.x86_64

I got this error.
---------
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.4 (node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.4: wanted {"os":"darwin","arch":"any"}

[2018-12-15 15:47] amorimlucas opened #32 "make clean doesn't remove external networks"
When I run `make clean`, the networks api.reaction.localhost and auth.reaction.localhost don't get removed, and I get the messages:

[code]

[2018-12-15 22:50] amorimlucas commented on #32
I've experienced some other issues with `make` as well, such as those networks not being created at all automatically: I'm prompted to create them manually. Upon doing some research I think I found my issue. The make version in my mac is GNU Make 3.81, which doesn't support define statements that have an = sign. [Confer here](https://stackoverflow.com/questions/5033181/gnu-make-differences-in-mult

[2018-12-16 00:33] amorimlucas commented on #29
Didn't notice any change after applying this patch. I still get a combined 100%-200% CPU usage from the containers.

[2018-12-16 09:47] AaronZhangL commented on #14
----------OS: Fedora28------------------
Ξ (localhost.localdomain) 0_workspace/reaction-platform git:(master) $ uname -a
Linux localhost.localdomain 4.19.8-200.fc28.x86_64 #1 SMP Mon Dec 10 15:43:40 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
Ξ (localhost.localdomain) 0_workspace/reaction-platform git:(master) $ cat /etc/redhat-release
Fedora release 28 (Twenty Eight)
Ξ (localhost.localdomain) 0_works

[2018-12-21 23:44] AaronZhangL opened #34 "A permission denied error when build reaction-next-starterkit_web docker instance"
╭─user-name@localhost.localhostdomain ~/4_github/reaction-platform  ‹master›
╰─➤  docker ps
CONTAINER ID        IMAGE                             COMMAND                  CREATED             STATUS              PORTS                                                      NAMES
3f589f838ebb        reaction_reaction                 "bash -c 'meteor npm…"   12 minutes ago      Up 11 minutes       0.0.0

[2018-12-24 13:20] amorimlucas commented on #34
Getting the exact same error...

[2019-01-03 19:05] jperl commented on #34
Make sure your local user has access to the [cache directory](https://github.com/reactioncommerce/reaction-next-starterkit/blob/develop/docker-compose.yml#L30).

[code]

[2019-01-03 23:05] #32 closed

[2019-01-04 21:56] amorimlucas commented on #34
Rand that command. Now when I run make, I stay stuck in this step:

Step 7/8 : RUN meteor npm install
 ---> Running in a6fb220ddd88

[2019-01-06 21:43] kodermax commented on #14
I have the same mistake.

[2019-01-07 19:58] kodermax opened #35 "Installation failed"
![image](https://user-images.githubusercontent.com/590985/50790322-b2466980-12cf-11e9-8416-f04dd3d931d1.png)

[2019-01-07 21:20] walkerblackwell commented on #35
You need a github acct w/ ssh key installed locally and online: https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/ as it says in the ReadMe reqs.

[2019-01-08 08:17] #35 closed

[2019-01-08 08:18] kodermax opened #36 "Installation failed with Reaction config file"
![image](https://user-images.githubusercontent.com/590985/50818112-15b7b200-1337-11e9-9d31-197fa2da52bd.png)

[2019-01-08 21:07] mrseanbaines opened #37 "Not getting any output after following get started docs"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
After following the installation docs [here](https://docs.reactioncommerce.com/docs/installation-reaction-platform), I am getting nothing

[2019-01-08 21:09] amorimlucas commented on #37
Having the same exact issues. It doesn't seem to work out of the box at all right now. Almost giving up on Reaction Commerce...

[2019-01-09 02:16] spencern commented on #37
Hi @mrseanbaines and @amorimlucas
It seems that we're having some issues with our `make` script right due to a recent change. PR incoming that will hopefully resolve this issue. Apologies for the hassle.

[2019-01-09 17:01] spencern commented on #37
I believe this may be resolved for now with #38. Please re-open if this is not working

[2019-01-09 20:19] mrseanbaines opened #39 "Not getting any output after following get started docs"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
After following the installation docs [here](https://docs.reactioncommerce.com/docs/installation-reaction-platform), I am getting nothing

[2019-01-10 01:32] gideonb commented on #37
I am having the same issue as @mrseanbaines — the `make start` command runs without errors, I can see all the correct ports are open, but port 3000 is timing out, 4444 is returning a 404, and 4000 is not returning anything.

Do I need to be on a particular branch for the sub-repos?

![image](https://user-images.githubusercontent.com/299520/50939986-f0f53480-1433-11e9-9fa8-985a5949887a.png)

[2019-01-10 08:47] Kanabanarama opened #41 "The OAuth2 request resulted in an error. / Error: invalid_client"
With latest version and docker 18.09.0
Just cloning repository and make finishing without errors, the web ui works fine, but login is broken.
localhost:4444 greets me with `Error: invalid_client`

After make, the following networks are available:

[code]

The following (hydra) containers are running:

[code]

Docker logs of reaction-hydra_hydra_1:

[code]

[2019-01-10 15:57] spencern commented on #41
@impactmass can you take a look at this?

[2019-01-10 16:56] focusaurus commented on #41
Could you check the starterkit logs with `docker-compose -f reaction-next-starterkit/docker-compose.yml logs -f web` please and post those? That's where the `reaction-next-starterkit/bin/create-hydra-client.js` script gets run. Your error seems like that might not have succeeded. Restarting the `reaction-next-starterkit` "web" service may also help since the create-hydra-client.js script runs on s

[2019-01-10 17:11] impactmass commented on #41
thanks @focusaurus.

@Kanabanarama as was mentioned, it looks like the client creation failed.

Here's logs from a fresh hydra install which had a successful client creation (note the last log):

[code]

[2019-01-10 20:47] mrseanbaines opened #43 "syntax error: unexpected end of file"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
I am getting error `syntax error: unexpected end of file` when trying to install the latest version of reaction-commerce.

![image](https

[2019-01-10 20:51] spencern commented on #43
What OS are you running?
I just pulled the latest and ran `make` and am unable to reproduce this issue.

[2019-01-10 22:02] mrseanbaines commented on #43
@spencern macOS Mojave 10.14.2. Might it be that I am running Fish shell?

[2019-01-10 22:05] mrseanbaines commented on #43
...actually I've just tried using Bash and am having the same issue.

[2019-01-10 23:18] ekayy commented on #43
Getting the same thing on macOS Mojave 10.14.1

[2019-01-11 03:33] spencern commented on #43
I've been able to confirm this now. Looking through recent code changes

[2019-01-11 04:09] #43 closed

[2019-01-11 07:40] Kanabanarama commented on #41
Logs of reaction-next-starterkit:

[code]

[2019-01-11 12:01] impactmass commented on #41
@Kanabanarama going by the `EACCES: permission denied` error, it looks like the starterkit container could not get access to the yarn cache. This could have happened because of an error on previous install attempt.

The yarn cache is in a docker volume `[web-yarn](https://github.com/reactioncommerce/reaction-next-starterkit/blob/develop/docker-compose.yml#L31)`.

You can remove that volume `docker

[2019-01-11 22:19] Kanabanarama commented on #41
Ok, this error happened later from trying to get it to work. With fresh containers the web container starts without errors, but I am still getting an oauth error page.

[code]
I noticed that the make script checks out the master branch of the starterkit, but master does not have the mentioned create-hydra-client.js. I tried checking out the develop branch, but then those node EACCESS errors happen

[2019-01-11 23:40] focusaurus commented on #41
@spencern starterkit master branch hasn't been updated in 4 months. Seems like we should get rc8 out the door and update everything to use the new `release-latest` convention and configure reaction-platform to checkout that by default. Thoughts?

[2019-01-11 23:51] focusaurus commented on #41
@Kanabanarama you'll definitely want the `develop` branch checked out. Your `EACCESS` errors might be fixed by running this command on your host: `sudo chown -R 1000 ~/.cache/yarn`. I think the issue is some versions of the docker image run as `root` and some as `node` (userid 1000 in the container) and switching between branches has put root-owned files/dirs in your yarn cache.

[2019-01-12 16:32] Kanabanarama commented on #41
You're right, the storefront creates root owned cache files on the host. The command had to be `sudo chown -R 1000 ~/.cache/yarn-offline-mirror`. Then the image is build without problems and the hydra-client is coming up.

Why does your makefile utilize the hosts npm/yarn environment? As this is only for installing packages, couldn't that be done within with an disposable container or would that e

[2019-01-14 16:21] focusaurus commented on #41
@Kanabanarama I believe technically we do not currently run `npm` or `yarn` in the host OS via the reaction-platform Makefile. I filed [this issue](https://github.com/reactioncommerce/reaction-platform/issues/18) on that repo a while back to discuss removing them as required dependencies. Feel free to chime in there or throw a thumbs up reaction if you agree.

[2019-01-14 16:22] focusaurus commented on #18
Related comment from [this issue](https://github.com/reactioncommerce/reaction-platform/issues/41#issuecomment-453761146)

[2019-01-14 21:20] spencern commented on #41
Thanks @focusaurus - rc.8 is released now for `reaction. Will release a matching rc.8 for the starterkit

[2019-01-14 23:00] geourjoa commented on #14
Same problem on Ubuntu 18.10.

[2019-01-15 21:56] spencern commented on #37
Thanks @gideonb and @mrseanbaines I believe that @ticean has submitted a PR for this - our recent release of the `reaction` project might have also helped. Are you still experiencing the behavior?

[2019-01-17 13:51] bantingGamer opened #45 "make: *** [reaction-hydra] Error 1"
**## Issue Description**
running the **make** command produces the following **errors**:

[code]

**## Steps to Reproduce**
1.  Install Docker
2.  configure A GitHub account with a configured SSH key
3. git clone git@github.com:reactioncommerce/reaction-platform.git
4. cd reaction-platform
5. make

**### Versions**
windows 10
docker Version 2.0.0.2 (30215)

[2019-01-18 11:40] Moumouls commented on #41
@spencern , just here to notice people who are blocked with the EACCESS, on Mac OSX with latest Docker release `2.0.0.2`, i'm currently using this config for `make`:
[code]
I have replaced `/node` to `/root` for somes `volumes` in the `docker-compose.yml` of `reaction-next-starterkit` and it works :
[code]

[2019-01-21 05:51] diana4397 opened #47 "how to install reaction commerce in ubuntu"
Are you looking for help with getting started on Reaction? Please visit our [Reaction documentation](https://docs.reactioncommerce.com/reaction-docs/master/getting-started-developing-with-reaction).

## Prerequisites
* [ ] Are you running the latest version?
* [ ] Are you able to consistently reproduce the issue?
* [ ] Did you search the issue queue for existing issue? [Search issues](https://gith

[2019-01-21 05:51] #47 closed

[2019-01-21 05:53] diana4397 opened #48 "How to develop a demo of reaction commerce in ubuntu"

[2019-01-22 16:03] Isolated- commented on #31
@AaronZhangL this isn't an error. It's a warning detailing that the package fsevents is being skipped. This is due to the fact that `fsevents` is a module targetting OSX (darwin) operating systems and isn't requried on linux.

This is expected and can be safely ignored.

[2019-01-22 21:20] #31 closed

[2019-01-24 20:30] aktywnitu commented on #41
I have similar problem:
https://screenshotscdn.firefoxusercontent.com/images/ba1816c8-78db-4f92-b1f0-3b1bd3236e6e.png
`hydra_1 | time="2019-01-24T17:54:05Z" level=error msg="An error occurred" description="Client authentication failed (e.g., unknown client, no client authentication included, or unsupported authentication method)" error=invalid_client hint="The requested OAuth 2.0 Client does not e

[2019-01-26 08:56] mrseanbaines commented on #37
@spencern I am still getting the same results. I think Docker may be having some trouble now:

![image](https://user-images.githubusercontent.com/24367010/51784920-3dd14e80-2148-11e9-8f8e-74f5812f6bce.png)

[2019-01-31 12:12] andrewtch commented on #29
Any update on that or alternative way to run it on mac? @spencern ?

Same results with latest master and macos

[2019-01-31 12:19] andrewtch opened #49 "containers unresponsive and then shuts down"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
Reaction makes ok, starts containsers that consume ~200% cpu, then the load dissappears (~3-4 min). 4000 port keeps loading all the time,

[2019-01-31 16:04] focusaurus commented on #49
Could you take a look at the output of `docker-compose -f reaction/docker-compose.yml logs`  and `docker-compose -f reaction-next-starterkit/docker-compose.yml logs` for error messages that might give us some idea what could be going wrong?

[2019-02-01 22:43] ahmadRagheb commented on #45
i have the same issue too !!!!!!!!!!!

[2019-02-01 23:44] ahmadRagheb commented on #45
i solve mine .. im using ubunut linux .. docker run with sudo and when i do make ? the docker demaon doesn't run  so i run with ` sudo make ` .. git dosn't work this ways -- " this is the same error you get "
i have make docker run without sudo for the current user .. it works for me
https://stackoverflow.com/questions/48957195/how-to-fix-docker-got-permission-denied-issue

[2019-02-03 10:09] aktywnitu opened #50 "Unable to access the GraphQL API"
Are you looking for help with getting started on Reaction? Please visit our [Reaction documentation](https://docs.reactioncommerce.com/reaction-docs/master/getting-started-developing-with-reaction).

## Prerequisites
* [x ] Are you running the latest version?
* [ ] Are you able to consistently reproduce the issue?
* [x ] Did you search the issue queue for existing issue? [Search issues](https://gi

[2019-02-05 18:59] j00p34 commented on #14
Make sure your running make as the first user created on the system (UID 1000)
Or change permissions on the directories created by make in the reaction-platform directory and ~/.cache/yarn-offline-mirror
Docker defaults to the first non-priviledged user. The make script is creating directories and mounting them on your docker containers. If you run make with another user it will create directories

[2019-02-05 19:06] j00p34 commented on #34
possible duplicate of #14

[2019-02-05 19:07] j00p34 commented on #36
duplicate of #14

[2019-02-06 14:35] spencern commented on #37
Hi @mrseanbaines
This is an error that I haven't seen before. It seems that perhaps there may be an issue with postgres and docker for mac in your installation.
I found this issue which suggests a solution, but as I haven't experienced this yet, I can't vouch for whether it may work for you. https://github.com/docker/for-mac/issues/1396

[2019-02-06 14:42] spencern commented on #41
@aktywnitu I'm not certain what's going on there as based on the logs it seems that things started okay. We've released another version shortly after you experienced this issue. It may be worth trying that new version.
If you're still seeing this issue, please create a new issue.

[2019-02-07 08:35] aktywnitu commented on #41
OK. I will try today test version v2.0.0-rc.9.

[2019-02-07 16:56] tarek369 commented on #14
Where can i find config.json file to copy it inside docker  ?or how can i fix it, i want to install with docker on a vps

[2019-02-10 05:44] zenweasel opened #51 "Make `make` command more resilient to misconfigured directory"
## Issue Description
If any subdirectory underneath the parent doesn't have a `Dockerfile` the make command errors out and doesn't continue.

## Steps to Reproduce
1. Set up platform
1. Add a subdirectory without a Dockerfile
1. run `make`
1. Observe error
[code]

## Possible Solution
Possible check for existence of the file and skip whatever step is trying to use this file

### Versions
`release-

[2019-02-11 19:46] ticean commented on #51
This isn't an error. A `docker build` is only attempted on projects that are included in the `config.mk` or `config.local.mk`. Those projects should be top-level services. Errors on Docker build shouldn't be skipped because that would indicate a serious problem. Make tasks should fail and explicitly show the error so it can be fixed.

From your example, I see you're including plugins in the list,

[2019-02-11 22:20] zenweasel commented on #51
Incorrect, that is not a plugin

[2019-02-13 23:39] ticean commented on #51
Does the project start a long-running process on your local machine?

[2019-02-13 23:57] zenweasel commented on #51
Nevermind, I see what you are saying. Closing

[2019-02-13 23:57] #51 closed

[2019-02-14 01:51] adrienshen commented on #49
Second this. Tried running the entire suite on MBP with 8gb memory. Keeps loading and using up lots of cpu and memory. It takes too much resources to develop locally, so I'm trying to deploy part of the platform hosted somewhere, and then only run the next-starter-kit locally for developing the storefront. Is this an option and is there docs to explain this setup?

[2019-02-14 07:26] andrewtch commented on #49
@adrienshen , it requires at least of 4-6 GB of RAM dedicated to Docker to run and ~ 10min to load. As for gitter, this is a normal behaviour.

Closing as Reactions seems to be "slow by design".

[2019-02-14 07:26] #49 closed

[2019-02-15 19:07] brokenthorn commented on #14
I too am having the same problem with fresh minikube on MacOS Mojave via brew.

[code]

No idea yet what to do next to fix this. The user with the problematic permissions seems to be 'node'.

[2019-02-15 20:14] brokenthorn commented on #14
I did more digging and this is what I found.

[code]

Everything is traversable up to `/opt/reaction/src/.reaction` at the very least.
The problem though is that the current user (1000) has no permission to write anywhere - because everything is owned by 1001:1001 and doesn't set the write bit.

Container current user:

[code]

I don't see user 1001 in the container though:

[code]

Does this mean

[2019-02-16 02:39] ticean commented on #14
This article, **"[Understanding how uid and gid work in Docker containers](https://medium.com/@mccode/understanding-how-uid-and-gid-work-in-docker-containers-c37a01d01cf)"**, offers a friendly explanation on how the user sharing in Docker is working between the container and the Docker host. I strongly recommend reading this to get a basic understanding of what's happening.

TLDR (but seriously re

[2019-02-16 11:41] brokenthorn commented on #14
Wow, thank you! Would it be enough to add a comment in the Dockerfile about the need to run the container as the host machine user (ie. the dev) using docker-compose? Maybe if the makefile tasks could also automatically fix this by starting the containers under the current user? And maybe the getting starter for developers guide could also reflect some of this needed knowledge so developers coming

[2019-02-16 12:49] brokenthorn commented on #14
I also found this [article](https://medium.com/redbubble/running-a-docker-container-as-a-non-root-user-7d2e00f8ee15) that talks about a possible solution using environment variables.

[2019-02-19 06:12] spencern commented on #29
@andrewtch @amorimlucas We're still trying to figure out how to improve this.
There's a new PR https://github.com/reactioncommerce/reaction/pull/4992 that aims to improve this. Would be interested to hear feedback on whether it helps you if you have a chance to check it out.

[2019-02-23 08:58] adrienshen commented on #50
Second this. Seems recent.

[2019-03-04 18:48] #21 closed

[2019-03-05 19:45] focusaurus opened #53 "Facilitate shared env files"
## Feature Request

We'd like a mechanism for teams to create and managed environment variable files with settings and secrets, and easily and securely incorporate that data into local development environments.

## Motivation

- Sensible defaults for local development are usually but not always sufficient
- Some values really need to vary per-project or per-team or per-developer
  - Examples: thir

[2019-03-11 21:57] ticean commented on #53
There's a third option - a script that can copy environment variables from a custom location to `.env`.

## Custom ENV Setup

We currently have an `bin/setup` in each project that copies variables from an `.env.example` -> `.env`. The only problem is that the script is hardcoded to do this from specific files.

A general utility that could copy env from and to any configurable files would be much

[2019-03-11 22:38] focusaurus commented on #53
How are you thinking this configuration would take place?

What about if in `config.local.mk` there's a repo there just to provide environment-specific scripting and tooling?

[code]
That repo has scripts for the standard reaction-platform lifecycle hooks and they do whatever they need to do, check prereqs, copy env files, etc.

[2019-03-14 21:16] makhokit commented on #50
Any update?

[2019-03-17 04:24] slavikme opened #54 "Permission Denied when trying to run reaction_reaction_1 container"
## Issue Description
After clean ubuntu install, did everything as guided [here](https://docs.reactioncommerce.com/docs/installation-reaction-platform#installation). The
`make` command successfully finished without any errors.

When I did `docker ps -a`, I noticed that only 3 out of 6 containers are running.
[code]

I ran `docker-compose logs` for both `reaction` and `reaction-next-starterkit`. I

[2019-03-17 20:35] HikvIneH commented on #54
You can change the permission of /opt/reaction/src/.meteor on the docker.
[code]

[2019-03-17 22:01] slavikme commented on #54
Thanks, it worked.

I wonder, why it happened in the first place? I mean, since it's a clean installation, shouldn't it be noticeable to the community? Am I the only one that experiencing it? Because it looks like a bug to me.

I would be happy to help with whatever I can to resolve this bug.

[2019-03-19 15:06] maxbaluev commented on #54
I have same problem with clean installation

[2019-03-19 16:01] maxbaluev commented on #54
@HikvIneH how solve problem with reaction-next-starterkit container ?

`Starting reaction-next-starterkit_web_1 ... done
Attaching to reaction-next-starterkit_web_1
web_1  | yarn install v1.13.0
web_1  | [1/4] Resolving packages...
web_1  | [2/4] Fetching packages...
web_1  | error An unexpected error occurred: "https://registry.yarnpkg.com/brcast/-/brcast-3.0.1.tgz: EACCES: permission denied, ope

[2019-03-19 16:29] HikvIneH commented on #54
docker start reaction-next-starterkit_web_1 && docker exec -it --user
root reaction-next-starterkit_web_1 chown -R node:node /home/node

On Tue, 19 Mar 2019, 23:01 Max Baluev, <notifications@github.com> wrote:

[2019-03-20 01:26] hammannja commented on #29
Are there any plans to extend this functionality to Windows-based Docker containers?
Or, do I need to test a dev version of reaction-platform rather than the release candidate?

Right now, no refresh is taking place with these containers in the rc10 release for Windows-based Docker containers.

Is there another way to develop in WIndows in the meantime?

[2019-03-20 17:11] spencern commented on #29
Hi @hammannja
We're not able to support Windows development right now, but are interested in improving the experience for developers on Windows.
We'd recommend using the latest version (rc.11 currently), but I don't know if that will solve your problems. If you're interested in helping figure this out, we'd be happy look at any PRs or ideas related to improving Windows support.

[2019-04-01 18:37] Jesperskate commented on #50
+1

[2019-04-02 19:12] elhil commented on #34
@amorimlucas @AaronZhangL  Out of curiosity, is the UID of your user on the host something other than `1000`? I'm running into this on a new system and I think it's because of a [known docker issue](https://github.com/moby/moby/issues/7198) with host mounted volume permissions.

[2019-04-11 12:43] NoShadock commented on #54
I had thought it was because I used `sudo make` at some point.

My fix was to change ownership for these files from root to $USER:
./reaction/.meteor/local
./reaction/node_modules
./reaction-next-starterkit/node_modules

(then `make start`)

I'd love to know how that happened.

[2019-04-17 08:22] kromuch commented on #50
+1

[2019-04-22 11:42] trentsteel777 commented on #54
I was also experiencing this issue on Ubunutu 16.04 LTS, running the above command along with the below has allowed me to start the project:
_docker start reaction_reaction_1 && docker exec -it --user root reaction_reaction_1 chown -R node:node /opt/reaction/src/.meteor_

[2019-05-09 22:22] Jesperskate commented on #50
Hi all! I found a nice tutorial as a workaround: https://medium.com/dominikbittl/how-to-get-started-with-meteor-and-reactioncommerce-within-a-vagrant-box-on-macos-771ef86c8398

[2019-05-11 04:33] kjcsb1 opened #56 "Service 'reaction' failed to build: Error parsing reference: "reactioncommerce/base:v1.8.0.2-meteor as meteor-dev" is not a valid repository/tag: invalid reference format"
## Prerequisites
* [Y] Are you running the latest version?
* [Y] Are you able to consistently reproduce the issue?
* [Y] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
Error when attempting to make reaction-platform

## Steps to Reproduce
yum install git
yum install docker
yum install docker-compose
yum

[2019-05-13 11:14] DKAtgit commented on #45
I am also getting Error while running make for reaction-hydra

OS: Windows 10
Docker : Docker version 18.09.2, build 6247962

"Makefile:320: warning: ignoring old recipe for target 'destroy-reaction-next-starterkit'
60e35c03d21045e04226cf8f933deab26af1fef7b9515972f7bc1134f1c9235d
1ddf22e65ea8a072f9e173c343f659b17626bdd5e66c6b1fb2f59210762fc672
6403988ffb57ddf38fa9efdf0e54d88a2d24ccb6ab18d4214a377f

[2019-05-15 01:12] bekliev commented on #45
Me too, how to fix this issue?

OS: Win10 (latest build)

[code]

[2019-05-15 21:00] arimus commented on #54
Same issue here. The exec does appear to get past the issues, but now I ran into:

[2019-05-16 23:33] arimus commented on #54
The way I was able to resolve this was a suggestion from another issue, which I can't seem to find now. Modify reaction/docker-compose.yml to comment out a couple lines and this container should work:

[code]

You will likely have the container for reaction-next-starterkit give you another permissions issue. I ran the permissions change for that one with success, although I suspect you can probabl

[2019-05-20 07:38] mwamodojnr commented on #56
I am getting the same error

[code]

[2019-05-31 20:51] focusaurus commented on #7
Note I have since learned that docker will happily run the container process as a userid that does not exist in the container, so you can generally run any container with `docker run --user 12345` and your process will get that userid. You then have to rely on many files being world readable but usually it works fine. No need for custom Dockerfiles nor `--build-arg`.

[2019-06-06 14:03] hikingit commented on #34
Found the solution here...
https://github.com/reactioncommerce/reaction-platform/issues/54

[2019-06-21 16:05] focusaurus opened #57 "Support release tags and upgrades"
## Issue Description

As we get ready for the final 2.0.0 release and subsequent semver releases following that, I think we need to make sure we have a solid mechanism including documentation and reaction-platform code to how we expect upgrading to newer releases. We have `make checkout` but I think we need to work through some more things:

- Repos that need to fetch new tags
- dealing with uncom

[2019-06-25 07:26] AbdulMuhsinSE commented on #37
Any update on this issue ?

I am also getting similar results to @mrseanbaines
Although the make start has no errors.

[2019-06-27 20:14] cmbirk opened #58 "Create Umbrella docker-compose network"
Docker has heavy performance issues on MacOS due to to the way that it interacts with the filesystem. This is amplified by Meteor's heavy use of the filesystem internally.

Creating a larger umbrella docker-compose setup for the current services can help alleviate this issue as well as a number of other developer experience issues around first-time startups for the entire reaction platform.

The i

[2019-06-28 22:49] machikoyasuda opened #60 "Add Segment tracking from CLI to RP"
As of Reaction 2.0, the https://github.com/reactioncommerce/reaction-cli is **removed** as a dependency. For 1.x users, the https://github.com/reactioncommerce/reaction-cli will no longer be updated.

Instead of having Segment as a part of the CLI, we'd like to add the Segment features from the CLI into Reaction Platform. Ask @cindyfirestone for credentials for Segment & other specifics on data to

[2019-06-29 03:15] ElRakabawi commented on #37
Same issue. :(

[2019-06-30 08:54] verakutsenko commented on #37
Same issue here!

[2019-07-02 19:44] cmbirk commented on #58
@chrisbalchin I know we've already discussed this a bit, but would you add some implementation details here to start from? I think you also mentioned you may have a draft docker-compose setup

[2019-07-04 11:54] Aakash-sanandiya commented on #56
Any solution to this? I am getting same error

[2019-07-13 19:01] Fl4zher commented on #45
Same issue here.
Any solutions?
Also Win10

[2019-07-22 18:39] gmartinsribeiro commented on #54
I'm having the same issue with a clean install

[2019-07-23 22:30] mauber91 commented on #50
I'm also having this issue :(

[2019-07-30 05:17] BunnyMan1 commented on #37
In v2, wait for anywhere between 5 - 15 minutes before checking again in browser.

I think after the docker containers start up, it's taking more time for the react compiler/bundler to start the local view server on ports :3000 and :4000.

[2019-07-30 05:21] BunnyMan1 opened #64 "make init-example-storefront doesn't seem to be working"
After using make in v2, I have tried using the command `make init-super-arts` in the reaction-platform directory. It is not working and shows an error `make: *** No rule to make target 'init-super-arts'.  Stop.`

Am I doing something wrong here? I think the Makerfile seems to be missing another .Phony tag at the 'init' command.

[2019-07-31 21:04] farhadniaz commented on #37
I have same issue and can find any solution !!!! Any Help

[2019-08-02 14:53] aktywnitu opened #65 "Installation problem"
Are you looking for help with getting started on Reaction? Please visit our [Reaction documentation](https://docs.reactioncommerce.com/reaction-docs/master/getting-started-developing-with-reaction).

## Prerequisites
* [ *] Are you running the latest version?
* [ ] Are you able to consistently reproduce the issue?
* [ ] Did you search the issue queue for existing issue? [Search issues](https://git

[2019-08-05 09:08] aktywnitu commented on #65
The same problem on clean ubuntu server:

[2019-08-05 09:09] aktywnitu commented on #65
ubuntu@s1-4-waw1:~/reaction-platform/example-storefront$ curl -XGET http://reaction.api.reaction.localhost:3000/graphql-beta
curl: (7) Failed to connect to reaction.api.reaction.localhost port 3000: Connection refused

[2019-08-18 23:39] kjcsb1 commented on #56
This was resolved by updating docker and docker-compose to current versions:
[code]

[2019-08-18 23:39] #56 closed

[2019-09-02 13:26] kmyn opened #68 "Installation/Startup error"
## Prerequisites
* [ Y] Are you running the latest version?
* [ Y] Are you able to consistently reproduce the issue?
* [ Y] Did you search the issue queue for existing issue? [Search issues]  (https://github.com/reactioncommerce/reaction/issues)

## Issue Description

`reaction_reaction` docker container fails to start with the below error:
[code]

## Steps to Reproduce
Please provide starting con

[2019-09-02 16:23] akakak1 opened #69 "Got error after running 'make' command"
(ON WINDOWS machine)
Got this error while running 'make' command

[code]

And only Postgres, mongo and hydra are running in docker but cant acces them in Browser

[2019-09-05 03:19] gddabe commented on #50
+1

[2019-09-09 09:49] wc-matteo commented on #54
Same here. Please fix this. It impacts the first experience one has with the platform

[2019-09-18 19:29] HolaMan commented on #37
+1 on mac

[2019-09-19 03:24] HolaMan commented on #50
+1

[2019-09-20 08:55] okazdal opened #73 "Problem with storefront installation"
All containers are running except storefront.

Any suggestions?

Here is logs for storefront container:

Fixing volume /home/node/.cache/yarn (before=0:0 after=1000:1000)…✓
internal/modules/cjs/loader.js:638
    throw err;
    ^

Error: Cannot find module 'cookie-parser'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/modules/c

[2019-09-24 08:49] RoytenBerge commented on #73
Hey Okazdal,

I had the same issue.
This solved the issue for me:
https://github.com/reactioncommerce/reaction/issues/5573#issue-496294395

[2019-09-24 09:38] okazdal commented on #73
Yep. That fixed it. Thank you for your help.

[2019-09-24 09:38] #73 closed

[2019-09-26 14:44] kmyn commented on #65
same issue on centos with the latest version.

[2019-09-26 18:02] kmyn commented on #50
+1

[2019-10-04 05:39] RoytenBerge commented on #54
Fixed it for me! Thanks

[2019-10-07 18:28] koverboy commented on #68
up

Same issue

[2019-11-02 19:03] jackson-sandland commented on #64
What is `super-arts1?

[2019-11-02 21:44] RaminMammadzada commented on #50
+1

[2019-11-02 23:08] RaminMammadzada commented on #50
+1

[2019-11-04 12:35] hamxabaig opened #78 "Change ssh git url to https one"
## Issue Description
When cloning the repo in a newly setup server, it requires you to have a properly setup github ssh key. Thats really annoying and i think the same can be done via using `https` urls of repos? It'll just make it easier to setup without additional steps

## Steps to Reproduce
Without having setup the ssh key to github, try running `make`. It'll error out.

## Possible Solution
R

[2019-11-04 21:04] Jorgelg13 commented on #41
Hi, I have the same problem, someone can help me, I am trying to get the most up-to-date version.

[2019-11-05 04:30] NickPyae commented on #41
@Jorgelg13 I had the same issue. But I could manage to fix it. What I did was I added this `ENTRYPOINT ["tini", "--", "./bin/start"]` to at the end of Dockerfile and also updated docker-compose.yml file build context with this `web:
    build:
      context: .` Then we run `docker-compose up --build` from your terminal. It should fix your issue.

[2019-11-05 21:41] oussamajabnouni commented on #69
same issue

[2019-11-08 16:01] PatelAshish1 commented on #41
That error is displayed in case that under “APIs & auth” -> “Consent screen” you have empty field “PRODUCT NAME” – you need to select e-mail address as well.

You can find “Consent screen” under a link!, click on project name and then go to “APIs & auth” -> “Consent screen”

Find Full Source Code At [Here](https://icetutor.com/question/error-invalid_client-no-application-name/)

[2019-11-09 06:40] #64 closed

[2019-11-16 20:17] joe-thong commented on #37
same on my mac

[2019-11-26 20:05] aol-nnov commented on #58
Hello, any updates here?

I've made two attempts to startreactioncommerce demo on my mac, but both failed.

Both times I was waiting around 10 minutes, but with no luck. All cpu cores were occupied to 100% and no server endpoints respond correctly.

Anyway, @cmbirk could you please clarify how statements "Meteor's heavy use of the filesystem" and "Umbrella docker-compose network will alleviate dev

[2019-11-26 20:11] cmbirk commented on #58
@aol-nnov There hasn't been any movement here unfortunately. I believe the next release of RC will remove Meteor altogether which will make this ticket obsolete.

[2019-11-26 20:13] aol-nnov commented on #58
can't help waiting  for 3.0.0, yeah..

tried master branches recently with no luck...

[2019-12-01 22:54] mallarapusidhu commented on #37
+1 on mac

[2019-12-10 21:23] aldeed opened #83 "Add command to use dev overrides in projects"
Starting with Reaction 3.0.0, the projects run the published image by default. To run for development, with host files linked into the container, you must symlink the `docker-compose.dev.yml` file in a project to `docker-compose.override.yml`, which Docker Compose then picks up automatically.

Create a command in this platform repo to make this easier. It could either create the symlink for you (e

[2019-12-13 10:55] KaySchneider commented on #68
On CentOs this is a problem with the docker volume.
CentOs is using SELinux and for that you have to use the SeLinux labels(:z or :Z) when mounting volumes. As example (docker-compose.yml file example):
[code]

More information about here:
https://www.projectatomic.io/blog/2015/06/using-volumes-with-docker-can-cause-problems-with-selinux/

[2019-12-13 21:34] Escalion opened #84 "make shows reaction-identity repository missing"
Are you looking for help with getting started on Reaction? Please visit our [Reaction documentation](https://docs.reactioncommerce.com/reaction-docs/master/getting-started-developing-with-reaction).

## Prerequisites
* [Y ] Are you running the latest version?
* [ Y] Are you able to consistently reproduce the issue?
* [ Y] Did you search the issue queue for existing issue? [Search issues](https://g

[2019-12-13 21:40] Escalion commented on #84
Issue is not reproducible on the release branch

[2019-12-14 04:53] Mikhail-MM commented on #84
I am having this issue as well

[2019-12-14 20:28] aol-nnov commented on #84
@Escalion it is reproducible on master though..

https://github.com/reactioncommerce/reaction-identity is showing 404 now

[2019-12-15 09:13] metaory commented on #84
recently added by
@rosshadden https://github.com/reactioncommerce/reaction-platform/commit/adfe7038fd5c9f417d711a6877afdf3ecd9948f0

reverting to previous https://github.com/reactioncommerce/reaction-platform/blob/2278d3d6a45dad95e076e0d1d555aa9c5a6ff276/config.mk
didnt solve the issue

:ambulance:

[2019-12-15 17:22] thuanpq commented on #84
how come you guys can test on branch Master,

[2019-12-27 00:20] spencern opened #89 "[3.0.0] Example storefront and reaction admin fail to start with make"
## Issue Description
`example-storefront` and `reaction-admin` fail to start when running `make` in the `release-v3.0.0` branch in a new directory for the first time.

[edit Dec 27, 2019 for clarity]
These containers fail after attempting to start the first time I run `make` in a new project. I can start them with make (e.g. `make-start-example-storefront`) once the Mongo and API containers are ru

[2019-12-31 23:21] pdreslin commented on #69
Try changing the Docker_timeout to be 120 by typing the following:
export DOCKER_CLIENT_TIMEOUT=120
export COMPOSE_HTTP_TIMEOUT=120

[2020-01-03 19:45] hems opened #91 "Permission denied error (??) on Ubuntu 18.04.3 (LTS) x64"
## Prerequisites
* [x] Are you running the latest version?
^ as per documentation, i simply run `git clone git@github.com:reactioncommerce/reaction-platform.git`

* [x] Did you search the issue queue for existing issue? [Search issues]
yes

## Issue Description
I created a droplet on Digital Ocean, using Ubuntu 18.04.3 (LTS) x64 once i execute `docker ps` i can see the following images running:

[

[2020-01-03 19:50] hems commented on #91
Found this out:

[code]

Then open another window and do:
[code]

I will get the following error on the first window:
[code]

[2020-01-03 19:56] hems commented on #91
I did `make start` afterwards to see what happens, turns out  `reaction_reaction` will start but then it will shutdown.

have a look on this screenshot:

![image](https://user-images.githubusercontent.com/27327/71745789-16f4bf80-2e63-11ea-9a14-f736c13ef40d.png)

[2020-01-03 20:37] spencern commented on #91
How much ram are you running with?

[2020-01-03 22:47] hems commented on #91
In order to make sure i started a new machine with 4GB RAM, installed virtual box manager and followed the instructions [found here](https://stackoverflow.com/questions/32834082/how-to-increase-docker-machine-memory-mac), which basically is:

[code]

Once done that, i cloned the repo again and did execute `make`, this time i got a couple funny messages at the start, probably because i tried to run

[2020-01-07 20:30] aol-nnov commented on #89
Same here, but I'd like to add that example-storefront logs show the following:

[code]

[2020-01-08 02:51] tccack opened #93 "make: Makefile 183: build-reaction-hydra error 127"
Hi all... trying to install reaction platform on rpi4. Raspbian/Debian/Buster
Have followed the process instructions without too many issues.
have done the ssh key stuff and the prerequisites etc.
Cloned fine and directory exists etc

I do note that there is a statement that docker-compose "not found". The file is definitely there however (though if its valid I do not know). The contents are "Not

[2020-01-08 14:50] spencern commented on #93
I've not experimented with installing Reaction on a raspberry pi.
Have you run docker-compose on your rpi4 for other projects? This error seems to be telling you that the make script can't access docker-compose as it expects.

[2020-01-08 14:56] spencern commented on #91
That permission error makes me think that there are some file permissions that need to be changed on your machine in order for `npm` to install dependencies properly.

@willopez have you installed on Ubuntu before?

[2020-01-08 17:34] willopez commented on #91
@hems change the ownership of the reaction installation directory like so:
[code]
and also set the permissions of the same directory like so:
[code]

and  then restart the Docker service by executing:
[code]

[2020-01-08 20:49] hems commented on #91
@willopez thanks for your suggestion, i tried changing the permissions all around but still go that error.

[code]

i suspect that error is inside the container on docker so chown and chmod wouldn't change much ?

or maybe i have to rebuild an image because of those permission changes?

any ideas?

[2020-01-08 21:27] willopez commented on #91
try rebuilding the image

[2020-01-08 21:31] aldeed commented on #93
@tccack It seems the `docker-compose` _command_ is not found, rather than the file. On a lightweight Linux distro you'll definitely need to install both Docker and Docker Compose separately, and they may have their own program dependencies that won't be pre-installed on Raspbian. See:

- https://hub.docker.com/editions/community/docker-ce-server-debian
- https://docs.docker.com/compose/install/

S

[2020-01-08 22:42] hems commented on #91
will do by using `docker system prune` and then `make`, is that correct?

[2020-01-08 23:08] willopez commented on #91
you should only need to remove the Reaction image:
[code]
and then `docker-compose up` and the image will be rebuilt.

[2020-01-08 23:31] hems commented on #91
I tried previously with system prune then make and it did not see to work, I'm doing now only he reaction folder, hopefully, it will not yield the error.

[2020-01-08 23:35] hems commented on #91
unfortunately, ended up with the same error.

[code]

[2020-01-09 00:09] willopez commented on #91
it looks like somehow, perhaps you are installing reaction as a `root` user, the node_modules is most likely owned by `root` which will cause issues. Inside the Docker container, the `/opt/reaction/src` directory and `node_modules` within should be owned by user `node` with user id `1000`.  Seems, that the root cause of your issues, is installing Reaction as a root user. I would recommend that you

[2020-01-09 02:06] tccack commented on #93
Both docker and compose seemed to install ok. I have installed portainer also which starts and runs fine. I think I'll wipe the pi4 and start again and see if it can be run directly on the pi.
(not sure this is in the category of fun project but I'm keen to give the reaction suite a go)
Docker runs really well on my pi3b but pi4 doesnt seem to be as straight forward.
I'll close this off and start

[2020-01-09 02:06] #93 closed, assigned to nobody

[2020-01-14 10:56] Escalion commented on #84
reaction-identity is now available. closing the issue

[2020-01-14 10:56] #84 closed

[2020-01-15 07:05] mikelxc commented on #91
I actually ran in to the same problem a couple days ago. The system runs perfectly on my Mac, but fails to build and run properly on my ubuntu server. And here's another I ran across while building reaction.
[code]
It just occurs to me that there might be a problem with the mongodb installation that causes this problem.

[2020-01-18 16:22] MarcMagnin commented on #65
Having the same issue, any update?

[2020-01-29 07:48] brent-hoover opened #100 "[3.0.0] Leakage between .env files when running `make init`"
Creating here per request from @aldeed

When running `make init` for the first time is tries to create .env file in each of the child projects, but the .env file it creates contains all the env values for all the projects not just each respective project. This doesn't cause a ton of problems since most of these are unique per project but for admin and identity they both use the `ROOT_URL` and it g

[2020-01-29 16:09] aldeed commented on #100
@focusaurus @rosshadden @ticean Maybe one of you has some idea here

[2020-01-29 16:21] rosshadden commented on #100
I fixed this in some repositories ( https://github.com/reactioncommerce/reaction/pull/5853 for example). It requires a per-project fix in the `bin/setup` file, so there may still be some projects that do not have the fix.

[2020-01-29 16:26] aldeed commented on #100
Great then we just need to copy that into the other default platform projects. I'll add this to the 3.0 project list.

[2020-01-31 18:34] aldeed commented on #100
Only `reaction-identity` project didn't have this fix and I've fixed that in https://github.com/reactioncommerce/reaction-identity/pull/23/commits/8bb012d0cde0cab083238a5b4399f37be70088ad

[2020-02-01 12:09] chriscamplin opened #103 "Can't see added products in operator CMS and graphQL error"
Type: breaking

Describe the bug
A clear and concise description of what the bug is.
I get the following error after running make on reaction-development platform, The install completes and is running but then any products i add never appear in operator. not even the example product.

`reaction_1  | in the root directory of your application.
reaction_1  | 11:58:37.213Z ERROR Reaction: Cannot retur

[2020-02-02 23:25] #100 closed, assigned to aldeed

[2020-02-06 21:48] #14 closed

[2020-02-06 21:49] aldeed commented on #14
Assuming this is fixed for everyone with the UID/GID fixing scripts we now have

[2020-02-06 21:58] aldeed commented on #29
Closing as fixed in 3.0. If more specific examples of this crop up, create an issue in that project's repo

[2020-02-06 21:58] #29 closed

[2020-02-06 21:59] aldeed commented on #34
Should have been fixed by UID fixing scripts we now run automatically.

[2020-02-06 21:59] #34 closed

[2020-02-06 22:00] aldeed commented on #54
Should have been fixed by UID fixing scripts we now run automatically.

[2020-02-06 22:00] #54 closed

[2020-02-06 22:00] #36 closed

[2020-02-06 22:01] aldeed commented on #39
Duplicate

[2020-02-06 22:01] #39 closed

[2020-02-06 22:03] aldeed commented on #37
Some people who have commented, please try with 3.0 release (trunk branch of this repo) and post whether this seems to still be an issue for you or not.

[2020-02-06 22:04] aldeed commented on #45
Windows development is not currently supported, but you may have luck trying on the Linux Subsystem for Windows.

[2020-02-06 22:04] #45 closed

[2020-02-06 22:04] #48 closed

[2020-02-06 22:08] aldeed commented on #50
In general, the solution to this error is to check the API service logs and try to get it to start. You may just need to restart the Docker service or there may be more information in the error messages in the logs. From within the platform directory, this is how you restart it:

[code]

[2020-02-06 22:08] #50 closed

[2020-02-06 22:10] aldeed commented on #58
@aol-nnov The wait is over.

Leaving this open since we're still discussing an alternative single-compose option like this.

[2020-02-06 22:12] aldeed commented on #65
Please retry with 3.0 release. (latest `trunk` branch of this repo)

[2020-02-06 22:13] #68 closed

[2020-02-06 22:14] aldeed commented on #69
Windows is not officially supported but you may have luck with Linux Subsystem for Windows.

[2020-02-06 22:14] #69 closed

[2020-02-06 22:16] aldeed commented on #78
@ticean Any particular reason you went with SSH? They are all public so most likely https would work fine.

[2020-02-06 22:16] #83 closed

[2020-02-06 22:17] aldeed commented on #89
@spencern Most likely our race condition and ENV fixes have resolved these issues. Do you want to confirm and close?

[2020-02-06 22:22] aldeed commented on #91
@mikelxc `mongodb-memory-server` was removed so that shouldn't be an issue anymore. Can you try on 3.0 (latest trunk branch of platform repo) and see if permission issues are resolved? With the permission issues, the problem is that Docker caches volumes in various ways and it seems to be difficult to get it to clear all the caches where incorrect permissions might have become stuck. If you do a s

[2020-02-07 05:02] aol-nnov commented on #58
@aldeed not yet, actually ;)

now I'm having `Network auth.reaction.localhost declared as external, but could not be found. Please create the network manually using `docker network create auth.reaction.localhost` and try again.`

Tried v3.0.0 tag and trunk. Should I create another issue for that?

[2020-02-07 05:11] aol-nnov commented on #89
@aldeed I'm not @spencern , but I've tried v3.0.0 tag and trunk branch, but `example-storefront_web_1` did not start and it has the following in the logs:
[code]

Also, some docker networks were reported missing, so I had to create them by hand.

Here they are:
* api.reaction.localhost
* auth.reaction.localhost
* streams.reaction.localhost

[2020-02-07 19:20] muhammadfahad93 commented on #65
@aldeed  after trying seeing error
| FetchError: request to http://hydra.reaction.localhost:4445/clients/example-storefront failed, reason: getaddrinfo ENOTFOUND hydra.reaction.localhost hydra.reaction.localhost:4445

[2020-02-08 23:50] aldeed commented on #58
@aol-nnov

Verify that you have checked out and pulled latest `trunk` branch of every subproject (reaction, hydra, storefront, admin, and identity), or do a fresh clone of platform into a different directory.

That auth network should not be referenced by any of the services anymore, unless you have your own custom service looking for it.

That being said, if you ever do get this error, you can ru

[2020-02-08 23:55] aldeed commented on #89
@aol-nnov As I commented in another issue, the two main things to do are:

1. Confirm you have latest `trunk` branch checked out in every subproject
2. Manually copy `.env.example` to `.env` in every subproject directory. (If you're upgrading in an existing platform directory, the `bin/setup` script only adds new variables and does not update existing ones.)
3. Potentially try the `make clean` com

[2020-02-08 23:58] aldeed commented on #65
@muhammadfahad93 Verify that the Hydra service is running and check its container logs for errors.

If you tried in an existing platform directory, you can try a fresh clone to a new directory followed by `make` there.

If that does not work, create a new issue in this repo and include details about your operating system and Docker version.

[2020-02-10 05:14] aol-nnov commented on #89
Indeed, it helped. I was hoping, that having latest trunk of reaction-platform is sufficient and the rest is done by the Makefile itself...

Just removed all subproject folders and run make and it finally worked, yay!

[2020-02-10 21:32] aldeed commented on #89
@aol-nnov Glad to hear that. Makefile does not touch the projects if they are already cloned because people often need to check out specific branches for one or more of them. I'm sure we could improve the logging around that, though, so that it's clear what's running.

[2020-02-11 00:49] ticean commented on #78
We're using SSH because it's a lot easier to configure authentication for private repositories. The canonical list of repos are public but its a common to have private ones in the mix.

If it's verified that we can have _both_ `git` and `https` in the list without problems then we could switch the public ones to `https` and document how to add private repos.

[2020-02-11 07:25] AshotN opened #107 "Hydra-migrate error"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
I've been trying to setup ReactionCommerce for a while now, and I must admit I am new with Docker but I don't know if this is my doing at

[2020-02-12 02:25] #18 closed

[2020-02-21 15:37] serdarejepov opened #110 "Can't insert product"
I setup reactioncommerce development platform. Everything was installed successfully and all needed services are running. However I couldn't insert new product via admin panel.

The errors:

1) 3f04a941e67ea87b2dcf595efea5792c1a821e3e.js?meteor_js_resource=true:1 Exception in delivering result of invoking 'products/updateProductField': TypeError: this.forceUpdate is not a function

2) Network erro

[2020-02-22 04:04] serdarejepov opened #111 "Can't insert product"
I setup reactioncommerce successfully. All needed platforms for this have been installed. However when I want to insert tags and products via admin panel, it gives error. When I reload the page, products added without any data.

Can I help or guide me on how to go in right direction?

[2020-02-23 02:40] jdpunk1 commented on #37
Same on windows, docker images run but no response from browser (v3 dev)

[2020-02-24 02:06] manueldelreal commented on #111
there was an issue with the `reaction-admin` similar to this for the very first created product but I believe that has been resolved for the past two releases. I tried for both tags and products on the current tagged versions for all components of platform and I can successfully create them locally.

We do have some test environments where I'm seeing a similar behavior but just for products, I'll

[2020-02-24 02:06] #111 closed, assigned to nobody

[2020-02-24 20:22] aldeed commented on #37
Closing this. If you +1'd and are still having problems running 3.0 on Linux or Mac, please submit a new issue with as many details as possible about your OS, configuration, Docker settings, reproduction steps, and debugging info. Note that running on Windows for development is not currently supported.

Note that usually one or more services will have some errors in the logs when you're not seeing

[2020-02-24 20:22] #37 closed

[2020-03-25 22:15] Allanbikundo commented on #45
Hey the error is still there

Error response from daemon: network with name reaction.localhost already exists
Removed docker development symlink for reaction-hydra
Running pre-build hook script for reaction-hydra.
reaction-hydra post-project-start script invoked.
postgres uses an image, skipping
hydra-migrate uses an image, skipping
hydra uses an image, skipping
Running post-build hook script for

[2020-03-25 22:25] Allanbikundo commented on #45
My os is ubuntu 18

[2020-03-27 09:09] hanselke opened #116 "product upload image broken"
Are you looking for help with getting started on Reaction? Please visit our [Reaction documentation](https://docs.reactioncommerce.com/reaction-docs/master/getting-started-developing-with-reaction).

## Issue Description

tried uploading jpeg and png files to product image.

shows up a blank image in media gallery.

## Steps to Reproduce
create product, upload product image

## Possible Solution

[2020-04-03 14:11] rrmaniar28 opened #117 "Cannot make the project to work with 'make'"
Hi,

I am trying to make this project working in my Virtual Machine with Docker.

I followed instructions as mentioned in the Getting Started guide on https://github.com/reactioncommerce/reaction-development-platform/

I am running the following versions
1) Docker version 18.09.9, build 1752eb3
2) NodeJS - 12.16.1
3) NPM - 6.13.4
4) GNU Make 4.1

Below is a full output of the execution after I che

[2020-04-03 15:21] spencern commented on #117
Hi @rrmaniar28
Can you tell me a little more about your situation? I've just nuked everything on my machine and cloned fresh and I'm not seeing this issue.

What OS and version are you running?

Is this the first time you've run this command or have you pulled from GitHub recently?

What are the contents of your `reaction-hydra` directory?

[2020-04-03 17:04] ticean commented on #117
+1 to @spencer's questions, @rrmaniar28. We need more info about your system.

From what I can see in the logs, it looks like everything is running successfully up until the `make build`, which runs [from this line in the Makefile](https://github.com/reactioncommerce/reaction-development-platform/blob/trunk/Makefile#L333).

The command `cd`'s into the `reaction-hydra` directory before running the

[2020-04-06 16:23] ticean commented on #24
This idea didn't get traction, so I'm closing for now.

[2020-04-06 17:51] focusaurus commented on #24
Note I recently started another round of work toward this. I was basically parsing `docker ps` output and trying to make sure the necessary containers were running. Still think it's valuable to do this and to have each project own its own status/health check scripts. Would like to see this restored into a backlog at some point but if not near term so be it.

[2020-04-06 22:06] ticean commented on #24
Oh, that's great to hear @focusaurus. I'd really like to see us implement something. We can reopen and move to a backlog. I closed while doing some personal housecleaning, I have a huge backlog of issues that appear in my Github issues list and I'm trying to get them cleaned up so the page is meaningful to me and I don't think I'll get to this soon.

[2020-04-25 18:35] nonfungibletunji opened #125 "Mongo DB, Catalina, Reaction"

[2020-04-25 23:33] #125 closed, assigned to nobody

[2020-05-01 23:19] ticean commented on #57
A good chunk of this (maybe all?) was addressed in #114. @focusaurus think we can close this now?

There's nothing that automatically addresses this, but it is possible to switch to a new configuration file by updating the local repo, or symlinking the local config. After doing that, you'd probably want to move to the next step.

#114 introduced `make update-checkouts`. It makes sure that each poj

[2020-05-04 11:31] carlosconnected opened #127 "Installation run successfully but nothing seems to be working"
Are you looking for help with getting started on Reaction? Please visit our [Reaction documentation](https://docs.reactioncommerce.com/reaction-docs/master/getting-started-developing-with-reaction).

## Prerequisites
* [:heavy_check_mark:] Are you running the latest version?
* [:heavy_check_mark:] Are you able to consistently reproduce the issue?
* [:heavy_check_mark:] Did you search the issue que

[2020-05-04 13:52] sterowney commented on #127
I had the same problem, so I ran the local version of reaction-api. (Docker image shipped didn't contain plugins.json file, so couldn't find api-core dependency)

I first stopped the docker container
`make stop-reaction`

I ran npm install in the reaction directory

`make clean-reaction` & `make dev-link-reaction`

Then `make start-reaction`

Works now, hope this helps you, or someone else who fin

[2020-05-04 14:28] carlosconnected commented on #127
Thanks @sterowney! Very similar to what I ended up doing:
`make dev-link-reaction && docker stop reaction_api_1 && make start-reaction`

[2020-05-04 14:29] #127 closed, assigned to nobody

[2020-05-05 13:36] jshimko opened #128 "mongo image not properly configured in development env"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description

It appears that the Mongo container for the dev env is not getting properly configured by initial `make` command.  It seems that it's be

[2020-05-05 13:38] jshimko commented on #128
Also, hello everyone.  Long time, no speak.  :)

[2020-05-05 15:31] aldeed commented on #128
Hi @jshimko ! Did you wait for the API service to fully start? There is startup code in that service that sets up the replica set if running in dev mode. You should see logging in API service logs about it.

[2020-05-05 16:27] jshimko commented on #128
Ok, the API container is tanking on startup (which probably explains the Mongo issue).

Startup logs...

[code]

**EDIT**: Removed original comment about docker networks.  Was a conflict on my end.

[2020-05-05 16:32] jshimko commented on #128
Ah sorry, in regards to the first point, looks like I missed this section...

https://github.com/reactioncommerce/reaction-development-platform#network-naming-strategy

Either way, I had to manually create that network for some reason.  Will try to get more specific errors on that.

[2020-05-05 17:18] aldeed commented on #128
Yeah, let's close this as a side effect of https://github.com/reactioncommerce/reaction/issues/6243

[2020-05-05 17:18] #128 closed, assigned to nobody

[2020-06-03 15:01] apaajabolehd opened #132 "Error on reaction-admin MongoError: not master and slaveOk=false"
Are you looking for help with getting started on Reaction? Please visit our [Reaction documentation](https://docs.reactioncommerce.com/reaction-docs/master/getting-started-developing-with-reaction).

## Prerequisites
* [ yes ] Are you running the latest version?
* [ yes ] Are you able to consistently reproduce the issue?
* [ yes ] Did you search the issue queue for existing issue? [Search issues](

[2020-06-03 20:36] focusaurus commented on #132
Could you try to restart the reaction api with:

[code]

It looks like some of our mongodb replica set configuration may not have succeeded, but it runs every time the API server starts so that may fix it.

[2020-06-04 05:12] apaajabolehd commented on #132
still not fixed it, I already tried restart all server, and each server 1 by 1, still no luck.
I have updated my question with the complete error on reaction-admin logs.

[2020-06-04 16:29] focusaurus commented on #132
Investigating. I wrote code specifically to handle this issue but that code seems to have moved or been removed in https://github.com/reactioncommerce/reaction/commit/0f9fef20fb50087b51fb74c23e8608f4e7a246ac

Trying to track down where it landed and add it back if it's just deleted.

[2020-06-04 16:39] focusaurus commented on #132
OK the `waitForMongo.js` script that handles this is now in both `reaction-identity` and `reaction-admin` but no longer in `reaction`. When either of identity or admin start up they should get mongodb into the right state and once that's done everything should be able to connect to mongo properly.

Could you try this please from your reaction-development-platform directory?

1. ensure mongo is up

[2020-06-04 16:43] focusaurus commented on #132
One other thing you might try:

[code]

[2020-06-04 22:50] bayareacoder opened #134 "Missing env var when running `reaction` via standalone NPM script i.e. outside Docker"
I want to run the GraphQL API outside Docker by executing `npm start:dev` in `reaction` folder after installing npm modules.
Error shown:
 Missing environment variables:
    STRIPE_API_KEY: A private Stripe API key
although this key is set in the .env file.

I inspected the API plugins and see in the Stripe plugin that this key is required and is filled out with a default value but only when in te

[2020-06-05 17:32] focusaurus commented on #132
OK I actually got into this situation myself on my linux laptop just now. I think its a race condition between startup of mongo and identity or admin. I'm confident my above [comment](https://github.com/reactioncommerce/reaction-development-platform/issues/132#issuecomment-638971388) instructions will get you sorted. Please reopen if you are still stuck.

[2020-06-05 17:32] #132 closed, assigned to nobody

[2020-06-06 22:53] ticean commented on #134
Hi @bayareacoder We have a large community who runs Reaction on a variety of systems. We've settled on Docker to normalize the development environment and provide a consistent runtime. Docker's consistency helps us support for everyone.

You're welcome to run Reaction outside of Docker but you'll need to bring your own batteries. We've only included them in the standard workflow.

The example conf

[2020-06-06 22:53] #134 closed, assigned to nobody

[2020-06-06 22:57] ticean commented on #134
@bayareacoder Please don't cross post issues in repositories. This is a duplicate of https://github.com/reactioncommerce/reaction/issues/6258.

[2020-06-08 14:32] mamged opened #135 "can't access any endpoint"
I tried to run `make start` and all services started and running successfully.
however I can't access any endpoint on any port
I tried localhost:4000 and localhost:3000
I tried to `make stop && make start` and I removed all images and pulled them back
nothing accessible
here is my terminal
![image](https://user-images.githubusercontent.com/1144321/84042492-6d7fa000-a9a5-11ea-871a-7c3f23984730.png)

[2020-06-08 15:13] focusaurus commented on #135
Could you please check the logs for errors with `docker-compose -f reaction/docker-compose.yml logs`? That should help with the graphql API and check example-storefront logs for possible errors there too.

[2020-06-09 03:37] mamged commented on #135
@focusaurus check this
[code]
and a lot of mongodb logs below

[2020-06-09 07:01] mamged commented on #135
Finally it worked.

I used option 1 in this answer [https://stackoverflow.com/a/36286446](https://stackoverflow.com/a/36286446)

[2020-06-09 07:10] #135 closed, assigned to nobody

[2020-06-13 07:54] mamged opened #136 "reaction identity can't access the overlay network"
## Issue Description
I'm trying to run reaction, I'm getting blank screen.
Then I found that the error is from identity service.
I'm not sure why I get this error `HTTP request to Hydra:  FetchError: request to http://hydra.reaction.localhost:4445/oauth2/auth/requests/login?login_challenge=b6921ac0f139418eb274fc831d14247f failed, reason: getaddrinfo ENOTFOUND hydra.reaction.localhost `
Although wh

[2020-06-15 21:51] RickSagnik opened #137 "can someone help me with the installation guide for windows....make function is not working and even when it is working the terminal is saying 'cut' is not recognized"
Are you looking for help with getting started on Reaction? Please visit our [Reaction documentation](https://docs.reactioncommerce.com/reaction-docs/master/getting-started-developing-with-reaction).

## Prerequisites
* [x] Are you running the latest version?
* [ ] Are you able to consistently reproduce the issue?
* [ ] Did you search the issue queue for existing issue? [Search issues](https://gith

[2020-06-15 22:05] focusaurus commented on #137
Reaction Commerce does not support development on Windows at this time, only mac or linux.

[2020-06-15 22:05] #137 closed, assigned to nobody

[2020-06-25 22:41] mamged opened #138 "Operator UI"
Hi,
I executed all the steps found here [https://docs.reactioncommerce.com/docs/installation-reaction-platform](https://docs.reactioncommerce.com/docs/installation-reaction-platform)
but there is something I don't understand: "Note: To login into the Operator UI use the credentials found in the [env.example](https://github.com/reactioncommerce/reaction/blob/v2.9.1/.env.example#L11-L12) file." what

[2020-06-25 22:46] mamged commented on #138
I normally registered an account and can access admin UI, but still not sure where can I use these credentials.

[2020-06-26 15:37] focusaurus commented on #138
I believe that is referring to "Reaction Admin" which is at http://localhost:4080. You can log in there with the first user you created when you first launched the platform with an empty database. The same credentials should work in the example storefront as well.

[2020-06-26 18:37] mamged commented on #138
@focusaurus I can use my first account as admin it's working fine, but I'm also trying to use this user: admin@localhost & pass: r3@cti0n as mentioned but I get `User not found [403]`.
I guess this is bug or documentations needs to be updated [here](https://docs.reactioncommerce.com/docs/installation-reaction-platform). I'm closing this here.

[2020-06-26 19:04] #138 closed, assigned to nobody

[2020-06-26 19:42] focusaurus commented on #138
@mAmged Yeah I think thats stale documentation. We used to create a default account automatically on startup with a configured email/password from .env, but it recently changed to no users by default and first registration becomes the first administrator. I'll file a doc bug to get this clear up. Thanks!

[2020-07-15 07:20] ttwthomas opened #139 "Can't figure out which username and password to use to connect to the backend"
## Prerequisites
* [ ] Are you running the latest version?
yes
* [ ] Are you able to consistently reproduce the issue?
yes
* [ ] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)
yes

## Issue Description
I am cloning the repo and launching the make command. Everything seem to be fine but I can't figure out which username and pa

[2020-07-30 04:57] transilience opened #140 "Unable to go through the entire workfow"
[code]
## Prerequisites
* [x ] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
We are trying to setup a store using reaction.
Using git pull and make, we have setup a local instance
## Steps to Reproduce
Plea

[2020-08-06 00:23] mattpetters opened #141 "Noob question: after I `make clone-api-plugins`, if I want to modify them and use them how do I link them to reaction API?"
Are you looking for help with getting started on Reaction? Please visit our [Reaction documentation](https://docs.reactioncommerce.com/reaction-docs/master/getting-started-developing-with-reaction).

## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://gith

[2020-08-06 00:57] mattpetters commented on #141
Answered my own question...buried in the docs under "How to link in a local NPM package for a plugin while working on it"
https://docs.reactioncommerce.com/docs/devs-update-custom-plugin#how-to-link-in-a-local-npm-package-for-a-plugin-while-working-on-it

"How to link in a local NPM package for a plugin while working on it
Run `docker-compose up -d` before running any of these commands, and wait u

[2020-08-06 00:57] #141 closed, assigned to nobody

[2020-08-12 08:25] hamza0200 opened #142 "Logo is not uploading from the reaction admin"
We have followed the [Reaction Development Platform](https://docs.reactioncommerce.com/docs/installation-reaction-platform) to install Reaction.

## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?

## Issue Description
When we are trying to upload logo from the [admin shop](http://localhost:4080/settings/shop) the logo is not uploadin

[2020-08-12 08:41] hamza0200 opened #143 "Static logo URL is visible in reaction admin but not in the Storefront"
We have followed the [Reaction Development Platform](https://docs.reactioncommerce.com/docs/installation-reaction-platform) to install Reaction.

## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Have you added primary logo URL?

## Issue Description
We are trying to add primary logo URL from the [admin shop](http://localhost:4

[2020-08-12 09:24] hamza0200 opened #144 "User logout redirection issue"
We have followed the [Reaction Development Platform](https://docs.reactioncommerce.com/docs/installation-reaction-platform) to install Reaction.

## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Are you logged-in as a [member](http://localhost:4000/signin)?

## Issue Description
Upon logout from [member's area](http://localhos

[2020-08-12 09:54] hasan-synavos opened #145 "Regular user can login as admin"
We have followed the [Reaction Development Platform](https://docs.reactioncommerce.com/docs/installation-reaction-platform) to install Reaction.

## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?

## Issue Description
A user can also login to the [admin side](http://localhost:4080) by using his same login credentials and he is able t

[2020-08-12 10:07] tanzeelazad95 opened #146 "After login page is getting blank"
Are you looking for help with getting started on Reaction? Please visit our [Reaction documentation](https://docs.reactioncommerce.com/reaction-docs/master/getting-started-developing-with-reaction).

## Prerequisites
* [ ] Are you running the latest version?
* [ ] Are you able to consistently reproduce the issue?
* [ ] Are you logged-in as a [member]?

## Issue Description
Sometimes, after login t

[2020-08-12 10:07] hasan-synavos opened #147 "Admin can login as regular user"
We have followed the [Reaction Development Platform](https://docs.reactioncommerce.com/docs/installation-reaction-platform) to install Reaction.

## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue?

## Issue Description
An admin can login to the [regular user portal](http://local

[2020-08-12 10:18] tanzeelazad95 opened #148 "Left side bar labels are not visible"
We have followed the [Reaction Development Platform](https://docs.reactioncommerce.com/docs/installation-reaction-platform) to install Reaction

## Prerequisites
* [ ] Are you running the latest version?
* [ ] Are you able to consistently reproduce the issue?
* [ ] Are you logged in as a [Member](http://localhost:4000/)

## Issue Description
"In the admin portal, the navigation links in left side

[2020-08-12 10:26] tanzeelazad95 opened #149 "React variables are visible"
We have followed the [Reaction Development Platform](https://docs.reactioncommerce.com/docs/installation-reaction-platform) to install Reaction.

## Prerequisites
* [ ] Are you running the latest version?
* [ ] Are you able to consistently reproduce the issue?

## Issue Description
"The labels aren't loading all the time, it displays React variables. The issue exists in Chrome, firefox
and safari.

[2020-08-12 10:32] hasan-synavos opened #150 "No store manager signup limit"
We have followed the [Reaction Development Platform](https://docs.reactioncommerce.com/docs/installation-reaction-platform) to install Reaction.

## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue?

## Issue Description
On the [reaction admin](http://localhost:4080) signup page,

[2020-08-12 11:02] tanzeelazad95 opened #151 "Add product Issue"
Sometime add product is not working when you add the attributes and then make t visible and then product will be published otherwise it show GraphQL issus occur and access denied.

## Prerequisites
* [ ] Are you running the latest version?
* [ ] Are you able to consistently reproduce the issue?

## Issue Description
Providing a clear description of the issue will enable a developer to quickly repr

[2020-08-12 11:14] tanzeelazad95 opened #152 "The product is created every time when the user clicks on create product button"
## Prerequisites
* [ ] Are you running the latest version?
* [ ] Are you able to consistently reproduce the issue?

## Issue Description
When the user clicks on create product button and redirects to another page without saving the changes, then the product is created automatically without any information.

## Steps to Reproduce
1. Login to reaction commerce
2. Go to products page
3. Click on crea

[2020-08-12 12:47] hamza0200 opened #153 "Admin can not see store managers in his reaction-admin dashboard"
We have followed the [Reaction Development Platform](https://docs.reactioncommerce.com/docs/installation-reaction-platform) to install Reaction.

## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Please signup as [store manager](http://localhost:4080) and create at least 2-3 accounts.

## Issue Description
An admin can not see

[2020-08-12 12:56] hamza0200 opened #154 "Store manager can see owner table (under accounts) but no owner user is visible"
We have followed the [Reaction Development Platform](https://docs.reactioncommerce.com/docs/installation-reaction-platform) to install Reaction.

## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Owner account should be existing
* [x] Please signup as [store manager](http://localhost:4080)

## Issue Description
A store manager

[2020-08-12 13:38] hasan-synavos opened #155 "Unstable Accounts page in Admin portal"
We have followed the [Reaction Development Platform](https://docs.reactioncommerce.com/docs/installation-reaction-platform) to install Reaction.

## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue?

## Issue Description
In Admin > [Accounts](http://localhost:4080/accounts), the a

[2020-08-12 13:47] hamza0200 opened #156 "GraphQL access denied even when the service is running"
We have followed the [Reaction Development Platform](https://docs.reactioncommerce.com/docs/installation-reaction-platform) to install Reaction.

## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?

## Issue Description
Sometimes when we login GraphQL access denied option comes up even when service is up, we have to refresh multiple ti

[2020-08-13 05:59] #152 closed, assigned to nobody

[2020-08-13 12:51] hasan-synavos opened #157 "404 on PDP when admin saves a product without title"
We have followed the [Reaction Development Platform](https://docs.reactioncommerce.com/docs/installation-reaction-platform) to install Reaction.

## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue?

## Issue Description
Admin can save and publish a product without adding its titl

[2020-08-19 10:01] balibebas commented on #143
Please keep in mind RC was created to support multiple shops and that sort of opinion (setting a store image) no the Storefront may not be desirable.

[2020-08-19 10:02] balibebas commented on #143
Please keep in mind RC is designed to support multiple shops and the sort of opinion (setting a store image) no the Storefront may not be desirable.

[2020-08-19 10:02] balibebas commented on #143
Please keep in mind RC is designed to support multiple shops and the sort of opinion (setting a store image) on the Storefront may not be desirable.

[2020-08-21 22:23] kieckhafer commented on #136
Can you try step 3 without `reaction`, just going to `http://localhost:4000`, and see what happens?

[2020-09-04 18:24] ghost opened #158 "Are you running the latest version? --maybe"
Most of the issue templates ask the titled question which doesn't actually tell us a whole lot given the number of moving pieces in the stack. Additionally the question isn't timeless given `latest` today won't mean much to someone debugging an issue tomorrow.

Please introduce a script akin to `reaction -v` that gives maintainers and users an easy way to report their current stack configuration.

[2020-09-10 20:35] wirdehall commented on #65
I'm having the exact same problem.
Followed the instructions here: https://docs.reactioncommerce.com/docs/installation-reaction-platform
And all the containers go up after the make command.
I have looked in all the container-logs and everything looks fine execept for the example-storfront container where I get the
```Network error: request to http://api.reaction.localhost:3000/graphql failed, reas

[2020-09-11 22:31] wirdehall commented on #65
For future references if someone else has the same problem as me.
It turned out that the container for the api crashed due to a migration error.
The reason for this migration error was that there were a missmatched versions of the library since I hadn't checkout a deployed version of reaction-development-platform. Instead I had checkout trunk which obviously can have some bugs in it.

So what I ha

[2020-09-29 17:19] #136 closed, assigned to nobody

[2020-10-02 03:08] Eduard-Hasa commented on #34
its not actually I still face this issue

[2020-10-02 03:14] ghost commented on #34
@hasainc please open a new issue and provide all the necessary details.

[2020-10-14 10:08] hslaa opened #162 "reaction_api_1 crashes constantly"
Are you looking for help with getting started on Reaction? Please visit our [Reaction documentation](https://docs.reactioncommerce.com/reaction-docs/master/getting-started-developing-with-reaction).

## Prerequisites
* [X] Are you running the latest version?
* [X] Are you able to consistently reproduce the issue?
* [X] Did you search the issue queue for existing issue? [Search issues](https://gith

[2020-10-14 12:43] ghost commented on #162
@hslaa If you're on API version 3.10 that was just released a day or two ago, yeah you're on the latest. I haven't upgraded yet but if you're stuck you could try backing down to 3.9 to determine if you're experiencing the same issue and unblock yourself.

[2020-10-31 23:27] creative-ae commented on #162
im facing same issue.. i'm using the latest.
any solution ?

[2020-11-03 14:43] phantom-limb commented on #162
I have the same problem in reactioncommerce/reaction:3.10.0
but I see more when I try to upload some files.

Bugtrace:
api_1    | (node:18) DeprecationWarning: GridStore is deprecated, and will be removed in a future version. Please use GridFSBucket instead
api_1    | (node:18) DeprecationWarning: collection.ensureIndex is deprecated. Use createIndexes instead.
api_1    | TypeError: Cannot read pr

[2020-11-12 19:26] alagiz commented on #162
having the same issue with the latest version, any update on that?

[2020-11-13 16:26] nnnnat commented on #162
This issue looks like a duplicate of #6298 in the reaction repo. We're working on a solution now
https://github.com/reactioncommerce/reaction/issues/6298

[2020-11-13 16:27] #162 closed, assigned to nobody

[2020-12-21 17:31] thomasmost opened #165 "reaction backend fails to connect to MongoDB with timeout, replica error; localhost:3000 is unavailable"
Are you looking for help with getting started on Reaction? Please visit our [Reaction documentation](https://docs.reactioncommerce.com/reaction-docs/master/getting-started-developing-with-reaction).

## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://gith

[2020-12-24 19:06] Eduard-Hasa commented on #165
Issue manually resolved here:
https://github.com/reactioncommerce/reaction/issues/6315#issue-770501209

[2020-12-27 16:27] thomasmost commented on #165
ah! Thank you! I'll try this.

[2021-01-22 22:03] MohanNarayana commented on #89
@spencern can we go ahead and close this issue. Looks like some [fixes](https://github.com/reactioncommerce/reaction/issues/6033) were implemented for this issue it does not persist anymore. Also, having worked on 4.0.0 I can confirm I did not encounter the same.

[2021-01-23 06:57] Akarshit commented on #117
@rrmaniar28 It might be too late to ask this, but if you help us a little more with the details, that could help us resolve this.

[2021-01-23 07:05] Akarshit commented on #91
This shouldn't be an issue with the latest version. Please re-open if someone is still encountering this.

[2021-01-23 07:05] #91 closed, assigned to nobody

[2021-01-23 07:09] Akarshit commented on #65
Please re-open if anyone is still facing the same issue, even after following the above steps.

[2021-01-23 07:09] #65 closed

[2021-01-26 19:46] #165 closed, assigned to Akarshit

[2021-01-26 20:30] thomasmost commented on #165
Awesome, thank you!

[2021-02-04 02:52] Akarshit opened #167 "Automation for the release process"
## Issue Description
Automate the process of creating release branches, creating PRs, pushing to docker and finally doing a release on github.

[2021-02-04 07:43] balibebas commented on #167
Suggest not relying on GH at all for the release process. Please ensure any automation is git provider agnostic. User may be using GitLab, sr.ht, gitea, and who knows what in the future.

[2021-02-04 20:57] juanmiret commented on #107
Having the exact same issue

[2021-02-09 03:17] ghost commented on #107
@AshotN could you please close this in favor of a new issue (ideally with a little more detail about your environment) in https://github.com/reactioncommerce/api-migrations 🙏🏼

[2021-02-10 04:54] ghost commented on #65
Found this issue after running into https://github.com/reactioncommerce/reaction/issues/6315 for which the following temporary fix addressed the issue: https://github.com/reactioncommerce/reaction/issues/6315#issuecomment-748203928 and has a link to a longer-term fix.

[2021-02-12 15:28] webtsys opened #170 "reaction-development-platform api not working using make"
## Prerequisites
* [X ] Are you running the latest version?
* [X] Are you able to consistently reproduce the issue? Yes, in debian Buster, Ubuntu 20.04, Opensuse Leap 15.2 and Archlinux.
* [X] Did you search the issue queue for existing issue? Yes.

## Issue Description
When download "reaction-development-platform" and execute "make" following the instructions, api platform don't work because syst

[2021-02-15 22:43] #170 closed, assigned to nobody

[2021-02-15 22:44] webtsys commented on #170
Working now with last updates in repository.

[2021-03-15 09:40] creative-ae opened #173 "Cannot create more than 1 shop"
## Issue Description
Creating a new shop from the admin dashboard fails with error: **Form "onSubmit" function error: Error: GraphQL error: There may be only one primary shop**

## Steps to Reproduce
Please provide starting context, i.e. logged in as a user, configure a particular payment method.
1. login to admin page
2. create first shop (this works normal)
3. try to create another shop
4. getti

[2021-04-20 19:39] nigeltiany commented on #173
Hit this as well.
Found the issue and the princess is in another castle

https://github.com/reactioncommerce/api-plugin-shops/blob/7c356ef82756835abb23273a48bc4c41df2009ea/src/mutations/createShop.js#L91

It will always default to a primary shop when an option is not passed.
A proper fix would be to include a selector for the type of shop someone is creating. I haven't seen the documentation on th

[2021-04-20 21:29] nigeltiany commented on #173
I eventually used another workaround.
go to the reaction-admin repository

https://github.com/reactioncommerce/reaction-admin/blob/784927a52c94b02438d0b4dac8884fa0d4485203/imports/plugins/core/dashboard/client/containers/CreateShopForm.js#L29

add this code before line 29
[code]

[2021-04-29 15:45] spencern commented on #89
yep. let's close it out.

[2021-04-29 15:45] #89 closed, assigned to nobody

[2021-05-10 03:49] claptonorioste opened #175 "Could not connect to Hydra service at http://hydra.reaction.localhost:4445"
Are you looking for help with getting started on Reaction? Please visit our [Reaction documentation](https://docs.reactioncommerce.com/reaction-docs/master/getting-started-developing-with-reaction).

## Prerequisites
 [yes ] Are you running the latest version?
 [ yes] Are you able to consistently reproduce the issue?
 [ yes] Did you search the issue queue for existing issue? [Search issues](https:

[2021-05-10 07:38] Akarshit commented on #175
@claptonorioste Thanks for reporting this. Because of a unintentional merge, the trunk branch was broken.
This should be fixed in a few hours with #177, but if you want to try something right now that PR should be the one to try.

Again apologies for the bad experience.

[2021-05-10 15:21] #175 closed, assigned to nobody

[2021-05-21 16:42] Akarshit opened #178 "Deprecate/remove old repos"
This is the proposal for deprecating and archiving some of the repos. The repos that are deprecated would get no updated
(except security updates). This would really help us to reduce the surface area of the things we are maintaining.
*(Many of these are private repos.)*
## Deprecating Repos
1. https://github.com/reactioncommerce/catalyst - We don't maintain this style system anymore
2. https://gi

[2021-05-21 18:52] kieckhafer commented on #178
A quick scan of the list and the only one that sticks out to me is we might want to keep #3 from your undecided repos (https://github.com/reactioncommerce/reaction-catalog-sample-data).

[2021-05-25 08:57] pankajpatel commented on #178
I was using https://github.com/reactioncommerce/proxy-traefik as a base to learn and make a production ready environment

Can you put more light on why this won't be needed anymore?

[2021-05-25 17:13] Akarshit commented on #178
@pankajpatel The idea was that we will try to find a simpler method to help people deploy Reaction. But your comment gives valuable information (that the repo is still relevant).
I will definitely move it from archiving to deprecate. We might not have the manpower to maintain it, but can definitely keep it open for community use.

[2021-05-25 18:04] pankajpatel commented on #178
@Akarshit Thank you for keeping it there for community to learn about the strategy.

I would be happy to see some leaner/simpler approach to deploy Reaction.

This repo allowed me to learn/experiment with Ansible and Traefik for Reaction.

I have a (almost) live deployment from this repo and I still don't have confidence to expose the site out in public.
But this repo is the best I could find to h

[2021-05-28 17:01] Akarshit commented on #178
I have updated the list with a line of reason as to why it's being archived/deprecated.
I will start taking action on this list next week.

[2021-06-01 18:53] Akarshit commented on #178
I have archived a bunch of repos, waiting on more admin permission and will archive the rest then.

[2021-07-01 10:03] ekokotov opened #184 "can't run reaction-admin container in DEV mode"
I can't run reaction-admin container in dev mode (make init-dev).
OS: MacOs Catalina 10.15.7
Node v: v15.14.0
Docker containers log:
[code]

[2021-07-01 10:34] #184 closed, assigned to nobody

[2021-07-16 11:08] ZappaBoy opened #185 "Wrong reaction docker image version"
## Prerequisites
* [X] Are you running the latest version?
* [X] Are you able to consistently reproduce the issue?
* [X] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
Following the installation instruction there is an error about the reaction docker version (manifest not exists):
[code]
Checking on dock

[2021-07-21 05:47] jesusnazarethgh commented on #185
Hi.., same issue. Run `make update-checkouts` then `make`.

[2021-07-23 16:50] jacobsenanaizabel commented on #185
this works for me! Thanks @ZappaBoy

[2021-07-26 03:17] donhuvy opened #186 "Question: How to find make command on Windows?"
https://mailchimp.com/developer/open-commerce/guides/quick-start/

![image](https://user-images.githubusercontent.com/1328316/126928455-e6aba781-7923-44f9-bca5-4aa7a3dfcda4.png)

(I also tried https://stackoverflow.com/questions/68523969/docker-run-inside-ubuntu-on-windows-wsl but not success)

Question: How to find make command on Windows?

[2021-07-28 21:36] MohanNarayana commented on #186
@donhuvy you will have to install make. Try this [stackoverflow](https://stackoverflow.com/questions/32127524/how-to-install-and-use-make-in-windows).
For further questions please use out community [discord](https://discord.com/channels/842420811360763936/842420812053086210).
As this is a question and not an issue I will close this. I encourage you to raise issues if you find any in the future.

[2021-07-29 04:15] tungpun opened #187 "Can't find GraphQL API docker container after installing"
Are you looking for help with getting started on Reaction? Please visit our [Reaction documentation](https://docs.reactioncommerce.com/reaction-docs/master/getting-started-developing-with-reaction).

## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://gith

[2021-07-30 04:24] #187 closed, assigned to nobody

[2021-08-02 12:25] SaqlainYounas commented on #186
Use https://chocolatey.org/install to install Make on windows.

Running Reaction on windows will give you a lot of problems. I will recommend Using WSL and or simply install a VM and Ubuntu on it.

[2021-08-02 12:41] francolaiuppa commented on #185
Thanks @ZappaBoy! I ended up finding the same solution but in our case, it worked using `3.12.0`. Clearly using the latest version it's better.

[2021-08-02 14:32] MohanNarayana commented on #186
@donhuvy  We have created an [issue](https://github.com/reactioncommerce/docs/issues/8) to update the docs for windows.

[2021-08-02 14:32] #186 closed, assigned to nobody

[2021-08-03 16:36] Akarshit commented on #185
Thanks for reporting this. I will fix this ASAP.

[2021-08-03 19:55] #167 closed, assigned to Akarshit

[2021-08-04 17:36] Akarshit commented on #185
We have released a new version that should have this fixed.

[2021-08-04 17:36] #185 closed, assigned to nobody

[2021-08-04 18:05] Akarshit opened #191 "Simplify make commands"
## Issue Description
We have tons of make commands that are overlapping. The structure is confusing(to me), so maybe we can move to things that are more simple.

## Possible Solution
We can have the following commands:
1. `make start <project-name?> <dev|prod>`, this will clone the repos if needed and then start them all in dev/prod mode. If project-name is specified, will only start that project

[2021-08-05 06:05] rondlite commented on #191
This might need some more clarification on the actual effect, as in what is the difference between `make start dev` and `make link`

[2021-08-05 17:12] loan-laux commented on #191
I think the wording could be confused with the `bin/package-link` script... Maybe `make dev-on` and `make dev-off` instead or something of that sort?

[2021-08-16 16:39] delagroove commented on #117
closing due to inactivity

[2021-08-16 16:39] #117 closed, assigned to nobody

[2021-08-16 16:46] delagroove commented on #24
Closing due to bandwidth issues

[2021-08-16 16:46] #24 closed

[2021-08-16 16:48] delagroove commented on #78
Closing since the repos are listed as https

[2021-08-16 16:48] #78 closed

[2021-08-16 16:50] delagroove commented on #57
make update-checkouts is part of the make commands now
please follow up in #191 for an update on make commands

[2021-08-16 16:50] #57 closed

[2021-08-16 16:51] delagroove commented on #60
closing due to bandwidth issues

[2021-08-16 16:51] #60 closed

[2021-08-16 16:52] delagroove commented on #107
closing in favor of the new 4.0 release which will deprioritize hydra development

[2021-08-16 16:52] #107 closed, assigned to nobody

[2021-08-16 16:53] delagroove commented on #178
Thanks for the comments, will continue with the repos that were recommended and archive the others

[2021-08-16 16:53] #178 closed, assigned to Akarshit

[2021-08-16 16:54] delagroove commented on #53
closing due to bandwidth issues

[2021-08-16 16:54] #53 closed

[2021-08-16 16:55] delagroove commented on #58
closing due to inactivity

[2021-08-16 16:55] #58 closed

[2021-08-16 16:55] delagroove commented on #7
closing due to inactivity

[2021-08-16 16:55] #7 closed

[2021-08-16 17:24] MohanNarayana commented on #173
Fixed in [this PR](https://github.com/reactioncommerce/api-plugin-shops/pull/21)

[2021-08-16 17:24] #173 closed, assigned to MohanNarayana

[2021-08-24 13:43] meiremans opened #198 "navigation in dashboard not working"
## Prerequisites
* [ X] Are you running the latest version?
* [ X] Are you able to consistently reproduce the issue?
* [ X] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
Following the quick start guide. (https://mailchimp.com/developer/open-commerce/guides/quick-start/)
I end up in the admin dashboard.

[2021-08-24 14:07] delagroove commented on #198
@meiremans upgrade reaction-admin to beta-21
like in this PR
https://github.com/reactioncommerce/reaction-development-platform/pull/197
we have issues with collaborators that do not sign off their code. leaving it in limbo

[2021-08-24 14:16] delagroove commented on #198
change has been merged into `trunk`, pull and try again
closing for now

[2021-08-24 14:16] #198 closed, assigned to nobody

[2021-08-24 14:29] meiremans commented on #198
thanks for the quick reply, works now :)

[2021-08-24 17:45] Akarshit opened #200 "Call prepareTrunk() & update config in the release script"
The release script uses the local history to figure out the version bump. This gets stale in case we don't run `git pull` in the repos.
The script should call the function `prepareTrunk` in every repo before doing the release.

Also the files in the reaction-oss folder have a old version as the heading because of the copying of files.

[2021-08-24 20:32] Akarshit opened #204 "Create a guide for release process"
There is currently no documentation on how to do a release.

[2021-08-26 21:12] birender-s commented on #204
@Akarshit, nice to see 4.0 release, congrats to the whole team !  It would be very helpful to have documentation and recorded session on setting up project (preferably on a Ubuntu VM on Azure/AWS/GCP) and demonstrate working of various basic features (login, create account, add product...). I've struggled a lot setting up project due to lack of precise steps/troubleshooting info and hope same for

[2021-08-30 17:30] Akarshit opened #209 "Add integration tests to all plugins."
All plugins should have integration tests being run on the CircleCI.

[2021-08-31 17:41] delagroove commented on #158
merged in latest dev-platform PR

[2021-08-31 17:41] #158 closed, assigned to delagroove

[2021-08-31 20:43] #204 closed, assigned to Akarshit

[2021-09-03 15:32] #200 closed, assigned to Akarshit

[2021-12-06 05:28] brent-hoover opened #218 "Remove .DS_Store"
This file shouldn't be committed

[2021-12-06 17:22] #218 closed, assigned to delagroove

[2021-12-06 17:22] #191 closed, assigned to nobody

[2021-12-23 07:09] maulik2310 commented on #184
I'm facing the same issue.
Would you please let me know how you solved it ?

[2022-02-05 17:10] srinathhs opened #220 "Unable to build using docker compose v2 on ubuntu running aws-graviton [ARM}"
## Prerequisites
* [x] What version are you running? Latest
* [x] Are you able to consistently reproduce the issue? Yes
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues) Yes

## Issue Description
Unable to follow getting started instructions on Ec2 running ubuntu [20.04] on a ARM graviton [t4g.xlarge].

## Steps to Reprodu

[2022-03-04 09:38] Akarshit opened #222 "Create a document walking through the release process."

[2022-03-04 11:41] Akarshit commented on #222
I created a Wiki page for this here: https://github.com/reactioncommerce/reaction-development-platform/wiki/Create-Releases
It's not possible to review a wiki page, but anyone feel free to request any changes here and I will update the page.
Will keep this issue open for a week or so and then will close it.

[2022-03-19 22:45] iconifyit opened #223 "Fails on Mac OS Monterey 12.2.1"
Are you looking for help with getting started on Reaction? Please visit our [Reaction documentation](https://mailchimp.com/developer/open-commerce/docs/fundamentals/).

## Prerequisites
* [x] What version are you running?
Tried the trunk branch and release-next-v4.1.0
* [x] Are you able to consistently reproduce the issue?
Yes
* [x] Did you search the issue queue for existing issue? [Search issues

[2022-03-21 08:39] OlehObodin opened #224 "Npm is tryed rename plugin inside container"
## Issue Description

After rerun the container npm is tried to rename plugin name. But it has not permission. And should it have to do it at all?
## Steps to Reproduce

1. make init-dev
2. Link the plugin
3. make stop
4. make start

[code]
## Possible Solution

Change folder permissions, but not very good idea, because in npm registry we have normal name

### Versions

4.1.5

[2022-03-29 11:08] j2l opened #225 "ERROR: could not find an available, non-overlapping IPv4 address pool among the defaults to assign to the network"
## Prerequisites
* [x] Version: latest, downloaded today
* [x] Are you able to consistently reproduce the issue? Yes
* [x] Yes, and I read the doc

## Issue Description
[code]
I read https://github.com/reactioncommerce/reaction-development-platform/blob/3af1b7389be544274d81d4f70ffb6f13a05fba58/docs/Common-Issues.md
but I don't have any VPN running on my desktop.

Now, I only have 3 containers runn

[2022-08-30 01:28] brent-hoover opened #226 "Add deprecation message to README"

[2022-08-30 01:30] brent-hoover opened #227 "After conversion to monorepo, change git clone locations"
One of the things that dev platform does is clone all the repos locally. We need to change the git location for reaction and change how they are cloned so you only get the stuff you need. Also there is a "clone all plugins" command that also needs to change it's location.